<div class='timesheet'
     data-day='<%= date.strftime("%d-%m-%Y") %>'
     data-user='<%= user.id %>'>
  <a class='delete-button-small time-close-button'>x</a>
  <div class='center'>
    <input type='submit' class='bluebtn day-button gray time-decrease-button' value='▼'>
    <input type='submit' class='bluebtn day-button gray time-increase-button' value='▲'>
    <input type='submit' class='bluebtn day-button green time-confirm-button' value='<%= current_user.company.minimum_work_day %>'>
  </div>
</div>