<div id="bha_header" class="well">
  <% if signed_in? %>
      <%= link_to "New", new_bha_path(document: document.id),
                  class: "bluebtn btnsmall pull-right push-down-small" %>
  <% end %>

  <div class="">
    <% if bhas.empty? %>
        <div class=" push-down">
          <span>No Configured BHAs...</span>
          <br><br>
        </div>
    <% end %>
    <% bhas.each do |bh| %>
        <div class="inline-block">
          <%= link_to request.path + '?section=drilling-bha&bha=' + bh.id.to_s,
                      class: "bluebtn btnsmall new-bha bha-button " + (bh == @bha ? "" : "gray"), remote: true do %>
              <%= bh.name %>
              <% if !bh.description.blank? %>
                  - <%= bh.description %>
              <% end %>
          <% end %>
        </div>
        &nbsp;
    <% end %>
  </div>
</div>
