<% provide(:title, 'About') %>

<div class="about-div">
  <!--<div class="page_header">
    <h1 class="page-title">What is Elephant?</h1>
  </div>-->

  <div class="">

    <div class="about-part-1">
      <div class="container center">
        <p>
          Elephant is re-envisioning the world of energy software.
          <b>Come join us.</b>
        </p>
        <br>
        <br>

      </div>
    </div>

    <div class="about-part-2">
      <div class="container">

        <h1>About Elephant</h1>

        <p class="elephant-about-p1">A world class team, a world class mission.</p>
        <br>

        <p>
          Elephant was founded by oil operation experts and software entrepreneurs. The confluence of factors in
          technology and emerging needs of oil and gas companies created the perfect opportunity to disrupt an industry
          in need of change.
        </p>
        <br>

        <p>
          We see great challenges ahead of us, and believe in using fresh thinking and approaches to solve these
          problems.
          Elephant is hiring the best engineers, designers, business experts, and creative thinkers alike to architect
          solutions
          that solve big problems with big impact. We are thinking to the stars in terms of looking at problems and what
          might be
          possible going forward.
        </p>
        <br><br>

        <hr>

        <br>

        <p>Elephant believes traditional enterprise software isn't going to work.</p>

        <p class="elephant-about-p1">"There is no time for a manual, people need to intuitively use it the moment they
          see it"</p>

        <br><br><br>

        <h1>We use big data to help solve big problems</h1>
        <p>In this day and age, we are constantly gathering data. We want big insights into how to sort and analyze that data.
            Elephant is using new and novel approaches to solve problems using statistical analysis and data interpretation.
        </p>
        <%= image_tag "big_data.jpg" %>
      </div>
    </div>


    <div class="about-part-3">
      <div class="container">
        <h1>Careers</h1>

        <p class="elephant-about-p1">We are here to change the world. Make no mistake.</p>

        <br>
        <a href="mailto:jobs@elephant-cloud.com" class="activity-user-link">
          <%= image_tag "email_icon.png" %>
          <p class="email inline">Submit resume</p>
        </a>
        <br>

        <hr>

        <div>
          <h1>Engineering</h1>
          <ul>
            <li>Senior Front End Software Engineer</li>
            <li>Senior Backend Software Engineer</li>
            <li>Senior Mobile Applications Engineer</li>
            <li>Senior Data Analytics Engineer</li>
            <li>Senior Infrastructure Engineer</li>
          </ul>
        </div>

        <br><br>

        <div>
          <h1>Creative</h1>
          <ul>
            <li>Senior Product Designer</li>
            <li>Senior Web UI Designer</li>
            <li>Senior Mobile UI Designer</li>
            <li>Senior Information Architect</li>
            <li>Digital Illustrator</li>
          </ul>
        </div>

        <br><br>

        <div>
          <h1>Sales</h1>
          <ul>
            <li>Account Sales Associate</li>
            <li>Inside Sales Associate</li>
          </ul>
        </div>

        <br><br>

        <div>
          <h1>Business</h1>
          <ul>
            <li>Administrative Associate</li>
          </ul>
        </div>

        <br>

        <hr>

        <br>

        <p class="elephant-about-p1">What we are looking for</p>

        <p>We are looking for top performers. Those who play hard and expect to win. We are looking for innovators. We
          don't expect you
          to know the energy industry, we expect you to have a great attitude for solving real world problems.
          We reward risk takers and those who think outside of the box. We want new ways to look at a problem.
          <br><br>
          We want people and a culture that are striving for excellence. Every day is a new challenge.
        </p>

        <br><br>

        <p class="elephant-about-p1">Benefits</p>

        <p>Comprehensive health coverage, 401k, vacation days, flexible work schedule, latest technology, and anything
          else needed to make you successful.</p>

      </div>
    </div>


  </div>

</div>