<% provide(:title, 'About') %>

<div class="container about-div">
  <div class="page_header">
    <h1 class="page-title">About Elephant</h1>
  </div>

  <br>

  <div class="content">
    <h3>What is Elephant</h3>
    <br>

    <p>
      Elephant thrives on the goal of making your organization outperform the competition through smarter technology.
      We have built state-of-the-art web and mobile software
      for the oil and gas industry that revolutionizes job process, quality, and organizational knowledge.
      We only use cutting edge technology and design in order to deliver the highest standard of quality in
      helping your organization reach it's full potential.

    </p>
    <br>

    <p>
      Elephant gives you robust tools with the right blend of usability, power, and flexibility, so
      you
      can manage process more efficiently and effectively. You can stay informed, control work quality, track jobs to
      stay on schedule, and keep teams aligned, while becoming more productive. Elephant facilitates true team
      collaboration
      and execution by ensuring data is always up-to-date, protected, and aligned with your business goals.
      With no need for expensive hardware updates, Elephant is an out-of-the-box solution that is
      ready to use as soon as you type in the web address.
    </p>
  </div>

  <br>

  <div class="content">
    <h3>Elephant the Company</h3>
    <br>

    <p>
      Elephant was founded by oil operation experts and software entrepreneurs. The confluence of factors in
      technology and emerging needs of oil and gas companies created the perfect opportunity to disrupt an industry
      in need of change. We are hiring the brightest stars in the energy and technology sector to help
      us build what is sure to be a defining period for the industry as a whole. We work tirelessly to understand
      and exploit our value in this ever increasing race for operational supremacy.
    </p>
    <br>

    <p>
      <b>Why Elephant?</b><br> Elephants are big and they never forget. When they walk, they walk together. Our
      software
      encompasses
      these qualities. Elephant offers companies the ability to handle the enormous amount of data that is
      exponentially
      growing in an always protected and always efficient manner. When your company walks, with Elephant, your company
      will walk together.
    </p>
  </div>
  <br>
  <br>
  <br>
</div>
