<% provide(:title, 'About') %>

<div class="container about-div">
  <div class="page_header">
    <h1 class="page-title">What is Elephant?</h1>
  </div>

  <br>

  <div class="content">

    <p class="elephant-about-p1"><b>"</b>Elephant is a solutions package created for the energy industry to achieve high quality processes, products, and services. Elephant uses the latest software technology and every communication channel available to gather, organize, and save data that is used to achieve total communication, process standardization, information delivery, and failure reduction.<b>"</b></p>
    <br>
    <hr>
    <br>

    <h3 class="elephant-about">Insight Into Operations</h3>
    <br><br>

    <h2>Empower</h2>

    <p class="elephant-about-p1">Elephant is the systems intelligence that will help your organization outperform the competition.</p>
    <br>
    <p>
      Our best-in-class cloud platform for the oil and gas industry revolutionizes job process, quality, and organizational knowledge while maintaining the core strengths of your organization.
    </p>
    <br>

    <p>
      Elephant gives you the robust tools to meet today's challenges in a big way. Information is constantly in flux, and the only way to ensure quality and
      success in the oilfield is to have great insight into your process. By building a powerful information and communication
      network around your existing process, Elephant delivers operational efficiency and increased customer success.
      <br>

      <%= image_tag "elephant_cloud.jpg" %>

      <br>
      With no need for expensive hardware updates, Elephant is an out-of-the-box solution that is
      ready to drive forward at your pace. It is built upon industry leading security and data protection standards, and has been built to scale.
    </p>

    <br>
    <hr>
    <br>
    <h3 class="elephant-about elephant-about-red">Details Matter</h3>
    <br><br>
    <h2>Drive Change</h2>
    <p class="elephant-about-p1">Elephant is the catalyst that will drive operational greatness within your organization. </p>

    <br>
    <p>Information will change companies and define the next batch of great ones by fine tuning the problem areas that cause cost overruns, delays, and inefficiencies.
      <br><br>
      Elephant provides up-to-the-second access to cloud data streams to pinpoint exact problems.
      Our platform simplifies and organizes data that is coming in from around the globe, so you don't have to. Understand and react to trends in real time.
    </p>

    <%= image_tag "rig_quality.jpg" %>

    <br>
    <hr>
    <br><br>

    <h3 class="elephant-about elephant-about-orange">Standardize Global Procedures</h3>
    <br><br>

    <h2>Bring the entire organization together</h2>
    <p class="elephant-about-p1">Bring your organization into one goal, one mission, one procedure.</p>
    <p>Elephant dissolves traditional boundaries of global organizations by neutralizing measurement unit problems, time zone, geographical and communication problems.
       <br><br>
      Elephant takes the heavy lifting of making sure your organization is operating per a centralized workflow and set of documents.
      Once your organization has defined the procedures, everyone across the world will be operating along the same guidelines.
    </p>

    <%= image_tag "global_standardization.jpg" %>

  <br>

    <hr>

    <br>

    <div class="">

      <%= image_tag "blue_logo.png" %>
      <br><br>

      <h2>Elephant Corporation</h2>


    <p>
      Elephant was founded by oil operation experts and software entrepreneurs. The confluence of factors in
      technology and emerging needs of oil and gas companies created the perfect opportunity to disrupt an industry
      in need of change.
      <br><br>
      <p class="elephant-about-p1">"We think about our software as a failure if any of our users require a help file"</p>
      <br><br>
      We are hiring the brightest stars in the energy and technology sector to help
      us build what is sure to be a defining period for the industry as a whole. We work tirelessly to understand
      and exploit our value in this ever increasing race for operational supremacy.
    </p>


    <br> <br>


      <h2>Why the name 'Elephant'?</h2>
      <p>Elephants are big and they never forget. When they walk, they walk together. Our
      software
      encompasses
      these qualities. Elephant offers companies the ability to handle the enormous amount of data that is
      exponentially
      growing in an always protected and always efficient manner. When your company walks, with Elephant, your company
      will walk together.
    </p>
  </div>
  <br>
  <br>
  <br>
</div>
