<% provide(:title, 'About') %>

<div class="container about-div">
  <div class="page_header">
    <h1 class="page-title">Elephant</h1>
  </div>

  <br>

  <div class="content">
    <h3 class="elephant-about">Your potential</h3>
    <h3 class="elephant-about elephant-about-red">Our power</h3>
    <br>
    <h3 class="elephant-about elephant-about-orange">That's True Insight that Matters</h3>
    <br><br>

    <h2>Empower</h2>

    <p class="elephant-about-p1">Elephant is the systems intelligence that will help your organization outperform the competition.</p>
    <br>
    <p>
      Our best-in-class cloud platform for the oil and gas industry revolutionizes job process, quality, and organizational knowledge while maintaining the core strengths of your organization.
    </p>
    <br>

    <p>
      Elephant gives you the robust tools to meet today's challenges in a big way. Information is constantly in flux, and the only way to ensure quality and
      success in the oilfield is to have great insight into your process. By building a powerful information and communication
      network around your existing process, Elephant delivers operational efficiency and increased customer success.
      <br><br>
      With no need for expensive hardware updates, Elephant is an out-of-the-box solution that is
      ready to drive forward at your pace. It is built upon industry leading security and data protection standards, and has been built to scale.
    </p>

    <hr>
    <br>
    <h2>Drive Change</h2>
    <p class="elephant-about-p1">Elephant is the catalyst that will drive operational greatness within your organization. </p>

    <br>
    <p>Information will change companies and define the next batch of great ones by fine tuning the problem areas that cause cost overruns, delays, and inefficiencies.
      <br><br>
      Elephant provides up-to-the-second access to cloud data streams to pinpoint exact problems.
    </p>
  <br>

    <hr>

    <br>

    <div class="">
    <h3 class="elephant-about elephant-about-blue">Our Company</h3>
    <br><br>

    <p>
      Elephant was founded by oil operation experts and software entrepreneurs. The confluence of factors in
      technology and emerging needs of oil and gas companies created the perfect opportunity to disrupt an industry
      in need of change.
      <br><br>
      We are hiring the brightest stars in the energy and technology sector to help
      us build what is sure to be a defining period for the industry as a whole. We work tirelessly to understand
      and exploit our value in this ever increasing race for operational supremacy.
    </p>
    <br> <br>


      <h2>Why the name 'Elephant'?</h2>
      <p>Elephants are big and they never forget. When they walk, they walk together. Our
      software
      encompasses
      these qualities. Elephant offers companies the ability to handle the enormous amount of data that is
      exponentially
      growing in an always protected and always efficient manner. When your company walks, with Elephant, your company
      will walk together.
    </p>
  </div>
  <br>
  <br>
  <br>
</div>
