<% provide(:title, 'Copyright') %>

<div class="page_header">
  <h1>Copyright</h1>
</div>


<div class="content">
  <br>
    <div class="content">
      <b>A.	 Statement of General Principles</b>
      <br>
      •	This section should be a broad based policy statement about your company’s approach to respecting and protecting the intellectual property rights of others
      EXAMPLES OF INTRODUCTORY STATEMENTS TO A FOCUSED COPYRIGHT POLICY
      A. Elephant Software fully supports US and international copyright law and requires all of our employees to fulfill our moral and legal obligations with respect to our use of the copyright protected materials of others.  To that end, and in fulfillment of our commitment to protect the principles of copyright in general, employees of Elephant Software should seek permission to use copyrighted works whenever appropriate and, when unsure whether permission is required, seek advice from the Copyright Officer identified below.
      AND
      <br><br>

      B. Elephant Software acknowledges that copyright infringement is a violation of the law and may impose civil and/or criminal liability on the individual infringer, as well as on the infringer’s employer.  Therefore, every employee is required to comply with copyright law and adhere to this copyright policy.  Failure to do so may result in disciplinary action.
      OR THE FOLLOWING BROADER STATEMENT ABOUT INTELLECTUAL PROPERTY
      <br><br>
      Elephant Software respects intellectual property and has made it a priority to ensure all employees respect the copyrights of others.  Every employee of Elephant Software is required to comply with copyright law and to adhere to Elephant Software’s copyright policy and guidelines.  Copyright infringement through inappropriate copying or distribution of copyrighted content is a personal as well as a company liability and will result in disciplinary action.
      <br><br>
      FOLLOW THE INITIAL STATEMENT WITH THE FOLLOWING PARAGRAPH
      <br><br>
      Elephant Software’s copyright policy provides a brief summary of U.S. copyright law, particularly as it relates to the use of others' copyright-protected materials, including published materials, and to provide procedures for obtaining copyright permission that should be used consistently throughout Elephant Software.
      <br><br>

      <hr>
      <b>B.	 Goal of the Copyright Compliance Policy</b>
      •	This section should specifically reference an expectation that employees adhere to your company’s rules regarding the use of copyrighted materials both internally and external to your company
      •	This section should be broad based to include full and part time employees, and should also extend to all consultants, contractors and agents working with your company
      EXAMPLES OF GOAL STATEMENTS
      <br><br>
      A. The goal of this policy is meant to fulfill our obligations under copyright law and to acknowledge our respect for the rights of others.  Elephant Software provides the following rules and procedures relating to copyright compliance when using copyrighted materials both internally among coworkers and external to Elephant Software.  It is our expectation that each employee, consultant, contractor or agent of Elephant Software will adhere to these policies and procedures.
      OR
      <br><br>
      B.   Copyright laws are generally not straightforward and they have many gray areas. The goal of this policy is to provide Elephant Software’s employees (whether on a permanent, temporary or contract basis) consultants, and agents with a uniform approach to addressing complex copyright issues.  Elephant Software has designated Michael Dawson as the Copyright Officer to administer our organization's copyright policy. Michael Dawson will oversee periodic updates to the policy, as well as updates resulting from related changes in policy or law. The aim of this policy is to provide practical advice and procedures, but it is not a substitute for legal advice. Proper legal advice should be obtained whenever necessary. Questions regarding this policy and other topics such as fair use should be directed to Michael Dawson, Copyright Officer. Michael Dawson can also assist you in obtaining advice from a lawyer if needed.
      <br><br>
      <hr>
      <b>C.	Important Information about Copyright</b>
      •	This section should provide basic information about copyright
      What is Copyright?
      <br><br>
      The purpose of copyright law is to provide authors and other creators (and those who obtain rights through such persons) with an incentive to create and share creative works by granting them exclusive rights to control how their works may be used. Among the exclusive rights granted to those authors are the rights to reproduce, distribute, publicly perform and publicly display a work. These rights provide copyright holders control over the use of their creations, and an ability to benefit, monetarily and otherwise, from the exploitation of their works. Copyright also protects the right to “make a derivative work,” such as a movie from a book;
      <br><br>



      the right to include a piece in a collective work, such as publishing an article in a book or journal; and the rights of attribution and integrity for “authors” of certain works of visual art. If you are not the copyright holder, you must ordinarily obtain permission prior to re-using or reproducing someone else’s copyrighted work. Acknowledging the source of a work, for instance, is not a substitute for obtaining permission. However, permission generally is not necessary for actions that do not implicate the exclusive rights of the copyright holder, such as reviewing, reading or borrowing a book or photograph.
      What is Protected by Copyright?
      The rights granted under the U.S. Copyright Act (embodied in Title 17 of the U.S. Code) are intended to benefit “authors” of “original works of authorship,” including literary, dramatic, musical, architectural, cartographic, choreographic, pantomimic, pictorial, graphic, sculptural and audiovisual creations. This means that virtually any creative work that you may come across in readable or viewable format, including books, magazines, journals, newsletters, maps, charts, photographs, graphic materials; unpublished materials, such as analysts' reports and consultants' advice; and non-print materials, including Web sites, computer programs and other software, databases, sound recordings, motion pictures, video files, sculptures and other artistic works are almost certainly protected by copyright.
      <br><br>
      What is NOT Protected by Copyright?
      Not everything is protected by copyright.  This includes: works that are not fixed; titles, names, slogans; ideas, facts and data; listings of ingredients or contents; natural or self-evident facts; and public domain works (more on this below).  Some of these things may, however, be protected under other areas of law, such as patent or trademark law, or by contract.  It is important to be sure that no other form of protection restricts the use of such materials before using them.
      <br><br>
      How Long Does Copyright Protection Last?
      In the U.S., a work created on or after January 1, 1978 is ordinarily protected for a term equal to the author's life plus 70 years after the author's death. This is called the “life-plus-70” rule. Works created by companies or other types of organizations have a copyright term of 95 years.  For works created before 1978, the duration of protection depends on a number of factors.  For comprehensive information on duration, see: http://www.copyright.gov/circs/circ1.html#hlc.
      <br><br>
      Fair Use
      Fair use is a defense under U.S. law that may be raised by the defendant in a copyright infringement case.  Fair use recognizes that certain types of use of other people's copyright protected works do not require the copyright holder's authorization.  The fair use doctrine is codified in Section 107 of the U.S. Copyright Act. See: www.copyright.gov/title17/. Although there are no absolute rules around fair use, generally the reproduction (photocopy or digital)



      <br><br>
      or use of someone else’s copyright-protected work is more likely to be found to be a fair use if it is for one of the following purposes:  criticism, comment, news reporting, teaching, scholarship or academic research.
      <br><br>
      To determine whether a particular use qualifies as fair use, the statute requires a fact-specific analysis of the use, based upon four factors:
      1. The purpose and character of the use (for example, whether for commercial or nonprofit educational use).
      2. The nature of the copyright-protected work (is it primarily factual or highly creative?).
      3. The amount and substantiality of the portion used.
      4. The effect of the use upon the potential market for or value of the copyright-protected work.
      All four factors must be considered and balanced against the other factors as part of each fair use analysis.  Although some see fair use as a solution to many of their reproduction activities, the scope of the fair use doctrine is much narrower than most people assume. Further, fair use is an ambiguous notion and the law does not state exactly how, or how much of, a work may be used without obtaining permission. As a consequence, even copyright law experts often have a difficult time predicting the outcome in cases involving fair use.
      <br><br>
      The bottom line is that fair use requires an appropriate risk assessment as to whether re-use under certain circumstances may be considered fair use. In order to avoid any copyright risk, Elephant Software  permits uses of short quotes from works. Otherwise, permission procedures as set out in this policy should be followed and the advice of Elephant Software’s Copyright Officer should be sought in instances where a fair use determination may be necessary.
      <br><br>
      Copyright and Foreign Works
      The U.S. is a member of two major copyright treaties, the Berne Convention and the Universal Copyright Convention. As such, when Elephant Software  uses a copyright-protected work from almost any other country, U.S. copyright law applies to the use of that work, assuming the use takes place in the United States. Similarly, the copyright laws of other participating countries apply to the use of U.S. works in those countries.  While these treaties establish certain conventions that render the laws of participating countries consistent to some degree, there are differences in each country’s law and Elephant Software’s Copyright Officer should be consulted if there are questions regarding the use of materials by employees or others outside the U.S.  Licensing intermediaries such as Copyright Clearance Center offer agreements that allow the use of materials from other countries as well as the use of materials across borders, which can simplify the permission process a great deal.
      <br><br>
      Copyright and Digital Works
      Any non-digital content that is protected by copyright is also protected in a digital form. For example, print books are protected by copyright law, as are electronic books. A print letter is


      <br><br>


      protected by copyright law, as is an e-mail letter. In both cases, the copyright is generally owned by the author, regardless of who has received the letter. Whenever you wish to use material
      found on a website, it is always important to review and understand the terms of use for that site because those terms will tell you what use, if any, you can make of the materials you find there. When obtaining permission to use works on the Web (such as posting them on Elephant Software’s public-facing corporate website), always attempt to obtain worldwide rights, as most Web uses of content are on a global basis.
      <br><br>
      <hr>
      <b>D.	Guidelines for the Appropriate Use of Copyrighted Materials</b>
      •	This section should provide guidance and information to enable employees to make appropriate decisions about the materials they need to use in their work.
      •	This section should outline steps and processes to ensure the compliance of employees and the nature and extent of any disciplinary actions if non compliance is discovered.
      Elephant Software  Employee’s Obligations under Copyright Law
      No employee of Elephant Software  may reproduce any copyrighted work in print, video or digital form in violation of the law.  Works are considered protected even if they are not registered with the U.S. Copyright Office and employees of Elephant Software  must assume that most materials used are copyrighted until proven otherwise.
      <br><br>
      If an employee wants to use material that is not covered by copyright, he or she should confirm that the material is not protected by any other area of law, such as trademark or trade secret law. If it has been created by an employee of the company, they can use the material freely, subject to the guidelines set forth at the end of this document any corporate policies on the use of company-generated materials.  If there is any doubt whether a work is covered by copyright it is best to be cautious and to follow the procedures established for the use of copyrighted works.
      <br><br>
      When a work is copyrighted, you must seek out and receive through a license or the express written permission of the copyright holder, the right to reuse the copyrighted work in order to avoid an infringement of copyright, unless it is determined in consultation with the Copyright Officer and, if appropriate, legal counsel, that the use would constitute a fair use.
      <br><br>
      Elephant Software  has negotiated licenses with publishers and other copyright holders that allow employees to use and share their materials. These licenses have restrictions and specific terms of use.  As a result, it is critical that an employee investigate what the permitted uses are before copying or sharing any copyrighted materials.  Please consult and implement the procedures outlined in this policy.
      <br><br>
      Any employee who violates Elephant Software  copyright policy may be subject to disciplinary action up to and including termination.



      <br><br>
      Elephant Software’s Rights with Regard to Computer Systems and Software
      Elephant Software  reserves the right to monitor employee computer systems (including desktop, lap top and handheld devices) and any content stored on an employee’s computer system.
      Elephant Software  also reserves the right to remove, delete, modify or otherwise disable access to any materials found to be infringing of copyright.
      <br><br>
      Any shareware or software to be used on Elephant Software’s computers should be licensed by Elephant Software  if they are to be used by an employee, consultant or contractor.  For the security and safety of our systems they should also be installed with the permission and assistance of our
      <br><br>
      Information Technology staff.  Employees are reminded that all computers, equipment and software supplied by Elephant Software  are subject to periodic audit.
      <br><br>
      If an employee is issued a password to access information licensed by Elephant Software  the employee is expected to take all reasonable measures to protect the security of the password and not to share the password with anyone.
      <br><br>
      Use of Company-Created Materials
      Whenever an employee of Elephant Software creates written or other creative material (such as a Web presentation or audiovisual piece), that material is presumptively protected by copyright.  Works created within the scope of or related to your job are automatically owned by the Company as “works made for hire” under the U.S. Copyright Act.  When works are to be created by contractors or consultants to Elephant Software, the contract with such contractor or consultant should specify that all works created under that contract are deemed to be “works for hire” and that if such works do not become the property of Elephant Software as a matter of law, the contractor or consultant thereby assigns all of his/her/its rights in such works to Elephant Software.  Please consult with the Copyright Officer or manager if you have any questions regarding the engagement of outside contractors or consultants.
      <br><br>
      When you use company-created copyrighted materials, you should always include a proper copyright notice on any materials that will be distributed outside the company.  Of course, any external distribution is also subject to any confidentiality restrictions applicable to that material.
      If you become aware of any unauthorized use or distribution of company-created materials, you should promptly notify the Copyright Officer or legal counsel so that appropriate actions may be taken.
      <br><br>




      <hr>

      <b>E.	Elephant Software ‘s Copyright Compliance Procedures</b>
      •	This section should provide instructions for the appropriate way to obtain permission to use copyrighted content
      •	This section should provide information about the rights conveyed under CCC’s annual copyright license, multinational license, digital rights amendments and pay-per-use service and provide guidance and information on any systems in place to assist appropriate content use, such as Rightsphere and Rightslink
      •	This section should include instructions and steps for the employee to take in the event of suspected infringement and outline the resources available through your Corporate Librarian’s office
      <br><br>
      How to Obtain Copyright Permission
      <br><br>
      Fact Finding Questions
      Once you have identified the materials you want to use, ask yourself the following questions: Is the work the type of work protected by copyright? If so, are you using the work in a manner that implicates the exclusive rights of the copyright holder? Is it likely that the work is still protected? If the answer is YES to these questions, then you must locate the copyright holder. Is the name of the copyright owner on the materials? Does Copyright Clearance Center represent that work? Locating the copyright holder may take some investigative and creative work. Consult with the Copyright Officer to see if she or he can offer any guidance or point you in the direction of someone within the company who can.  The U.S. Copyright Office at the Library of Congress (www.loc.gov) may be of assistance in locating a copyright owner.
      <br><br>
      Requesting Permission
      Permission to use copyright-protected materials should be obtained prior to using those materials. It is best to obtain permission in writing, which may be by e-mail, and to ensure that the Copyright Officer has a copy of each permission form or letter. The time needed to obtain permission may vary. When possible, it is recommended to start the permission procedure well in advance of the time that you wish to use the materials. If you need fast turnaround on a permission request, let the copyright owner know this and he/she may get back to you faster. The copyright owner, his/her representative and/or the licensing intermediary that represents the kind of permission you are seeking, will require certain specific information in order to provide you with that permission. Some organizations prepare a standard request form for all of their employees to use.
      Each permission request should include the following information:
      • Title of the material
      • Creator/author of the material
      • Description of material
      <br><br>


      • ISBN or ISSN, if applicable (standard numbers used on most published text material)
      • Date of publication, if applicable
      • Purpose for which you wish to reproduce the item (research, commercial, educational, etc.)
      • How the material is to be reproduced (e.g., photocopied, digitized)
      • Where the reproduced material will appear (including internal vs. external use) and for how long
      <br><br>
      Permission Procedures
      If Elephant Software holds an Annual Copyright License from Copyright Clearance Center:
      <br><br>
      Elephant Software holds an Annual Copyright License from Copyright Clearance Center (CCC). The license enables employees of Elephant Software in the United States to lawfully reproduce and distribute content in CCC’s repertory, in print or electronic format, within the company. Under the license, Elephant Software employees can photocopy excerpts from newspapers, magazines, journals and other copyright-protected works licensed by Copyright Clearance Center, as often as needed. Employees can also e-mail articles of interest to other employees, share articles by
      posting them on our company intranet sites, and scan content when a digital original is not available. Please note that the license is not intended to replace subscriptions or eliminate the
      need to purchase content that is used on a regular basis at Elephant Software. The Annual Copyright License enables us to share printed copies (but not electronic copies) of materials with external colleagues on an occasional basis. To search the online catalog and verify coverage under Elephant Software’s license with CCC, go to www.copyright.com and click on “Find Title”.
      <br><br>
      If Elephant Software  holds a Multinational Annual Copyright License from Copyright Clearance Center:
      <br><br>
      Elephant Software  also holds a Multinational Annual Copyright License from Copyright Clearance Center. The licenses enable Elephant Software  employees located outside the United States to lawfully reproduce and distribute content within the company, just like Elephant Software ’s U.S.-based employees. The multinational licenses apply to Elephant Software  employees based in more than 160 countries worldwide and pertain to English-language works from the U.S, Canada, United Kingdom, New Zealand and Australia, with some exceptions. For a current listing of countries and exceptions, go to www.copyright.com/multnationalcoverage.
      <br><br>
      Elephant Software  may also work with Copyright Clearance Center to obtain permission to reproduce and distribute copyright-protected text works in print and digital formats for external use. To obtain permission to reproduce text-based works outside of Elephant Software  that are not covered by our annual license or other prior agreements, employees should request permission online at www.copyright.com or contact the Rights and Licensing Department of the copyright holder.

      <br><br>




      If Elephant Software  does not work with Copyright Clearance Center, you must contact the copyright holder directly. As mentioned, locating the copyright holder may take some time, as well as some investigative and creative work.
      <br><br>
      The Copyright Office at the Library of Congress (www.loc.gov) may be of assistance in locating a copyright owner. Questions regarding non-text works and questions pertaining to specific procedures should be directed to Michael Dawson, who serves as our Copyright Officer.
      <br><br>
      Handling Copyright Infringement
      Elephant Software  expects its employees to be responsible consumers of copyright-protected materials. We also encourage employees to educate their peers on copyright compliance. If any employee witnesses a potential copyright infringement, please bring the matter to the attention of the individual as well as to Michael Dawson, Elephant Software’s Copyright Officer. Employees who illegally reproduce copyright-protected works may be subject to disciplinary action up to and including termination.
      <br><br>
      The Elephant Software  copyright compliance policy has been most recently updated on 9/1/2013.

    </div>

</div>



