<% provide(:title, 'Home') %>

<div>

  <div class='body-background'></div>


  <div class="signin-box">
    <%= render 'sessions/signin' %>
  </div>

  <div class="quote">
    <p>Reduce non-productive time.<br> Increase efficiency &amp; Safety.<br> All with a
      <a class="link" href="/features">comprehensive solution »</a></p>
    <br>
    <a href="tel:1-817-500-0360" class="phone">1-817-500-0360</a>
  </div>

</div>
