<% if signed_in? %>
    <% provide(:title, 'Home | ' + current_user.name) %>
    <p>Logged in</p>

<% else %>

    <% provide(:title, 'Home') %>

    <div>

      <%= render 'sessions/signin' %>

      <div class="quote">
        <p>“Streamline, Protect, and Empower with the most advanced software for hydrocarbon extraction”</p>
        <%= link_to "Learn more about Elephant", about_path %>
      </div>

    </div>


<% end %>

