<% provide(:title, 'Elephant Software Home') %>

<div>

  <div class='body-background' alt='Elephant is a solutions package created for the energy industry to achieve high quality processes. Elephant uses the latest software technology and every communication channel available to gather, organize, and save data that is used to achieve total communication, process standardization, information delivery, and failure reduction.'></div>


  <div class="signin-box">
    <%= render 'sessions/signin' %>
  </div>

  <div class="quote">
    <p><span class=" inline">
      Complete asset &amp; operations solution <br> for the Exploration & Production sector of the Oil & Gas industry.</span>
      <a class="link" href="/features">Learn more »</a>
    </p>
    <br>
    <a href="tel:1-817-500-0360" class="phone">1-817-500-0360</a>
  </div>

</div>
