<% provide(:title, 'Sales') %>


<div class="container about-div">
  <div class="page_header">
    <h1 class="page-title">Sales</h1>
  </div>

  <br>

  <div class="content">
    <p>
      Elephant offers a wide variety of licensing options for your company. Our goal is to offer a simple and transparent licensing plan that will enable you to tailor the software around your business needs and budget.
    </p>
    <br>
    <p>
      Interested in making Elephant a part of your company?
      For more information on features, pricing and more, call or email.
    </p>
    <br>

    <p>
      <br>
      <a href="mailto:sales@go-elephant.com" class="sales-email">sales@go-elephant.com</a>
      <br> <br>
      (512) 827-8496
    </p>
    <br>
  </div>

</div>