<% provide(:title, 'Sales') %>


<div class="about-div">


  <div class="sales-part-1">
    <div class="container">
      <h1>Sales</h1>
      <hr>
      <br>

      <h2>Come walk with us.</h2>


      <p>
        Our goal is to offer a simple and transparent licensing plan that will allow you to scale up or down depending
        on needs and demand.

      </p>

      <p>
        For more information on features, pricing and more:
      </p>
      <br>

      <p>

      <div class="">
        <br>
        <a href="mailto:sales@go-elephant.com" class="sales-email"><b>sales@go-elephant.com</b></a>
      </div>

      <br>

      <p>+1 (817) 382-7776</p>
      </p>

    </div>
  </div>

  <div class="sales-part-2">
    <div class="container">
      <br><br><br>
      <div class="center">
        <%= image_tag "blue_logo.png" %>
      </div>
    </div>
  </div>


</div>