<% provide(:title, 'Sales') %>


<div class="container about-div">
  <div class="page_header">
    <h1 class="page-title">Sales</h1>
  </div>

  <br>

  <div class="content">
    <h3 class="elephant-about">Understand your System</h3>
    <br>
    <h3 class="elephant-about elephant-about-blue">Make the Move</h3>
    <h3 class="elephant-about">Now</h3>
    <br><br>

    <h2>For a whole new understanding</h2>

    <p>It's time to put your oilfield operations in a class of its own.</p>

    <p>
      Our goal is to offer a simple and transparent licensing plan that will allow you to scale up or down depending on needs and demand.

    </p>
    <br>

    <hr>
    <br>

    <p>
      For more information on features, pricing and more:
    </p>
    <br>
    <p>

    <p>Email</p>
    <br>
    <a href="mailto:sales@go-elephant.com" class="user-info-link">sales@go-elephant.com</a>
    <br> <br>

    <p>Phone</p>

    <h2>+1 (512) 827-8496</h2>
    </p>
    <br>
  </div>

</div>