<% provide(:title, 'Sales') %>


<div class="container about-div">
  <div class="page_header">
    <h1 class="page-title">Sales</h1>
  </div>

  <br>

  <div class="content">
    <h2>It's time to put your oilfield operations in a class of its own.</h2>

    <p>
      Our goal is to offer a simple and transparent licensing plan that will allow you to scale up or down depending on needs and demand.

    </p>
    <br>

    <hr>
    <br>

    <p>
      For more information on features, pricing and more:
    </p>
    <br>
    <p>

    <a href="mailto:sales@go-elephant.com" class="user-info-link">sales@go-elephant.com</a>
    <br>
    <h2>+1 (512) 827-8496</h2>
    </p>
    <br>
  </div>

</div>