<% provide(:title, 'Welcome to Elephant!') %>

<div class="tutorial-cover">

  <div class="center">
    <%= image_tag "tutorial_welcome.png" %>
  </div>



  <div class="form center">
    <div>Click below to continue...</div>
    <br>
    <%= link_to "Start using Elephant Now", root_path, class: "bluebtn red form-loading-on-click" %>
  </div>

  <%= render 'layouts/inline_loading', title: "Please wait, setting up profile..." %>

</div>


