<div id="logged_out" class="curtain">
  <%= link_to "Elephant", root_path, id: "logo", class: "push-down-small" %>
  <div class='curtain-content'>
    <h1>Please Log In</h1>
    <p>For company security, you have been logged out.</p>
    <%= image_tag "blue_logo_small.png" %>
    <%= render 'sessions/signin2' %>
  </div>
</div>