<div id="logged_out" class="curtain">
  <div class='inline-block push-right-small'>
    <%= link_to "Elephant", root_path, id: "logo", class: "inline-block push-down-small push-right-small" %>
  </div>
  <div class='curtain-content'>
    <%= image_tag "home_logo.png" %>

    <br><br><br>
    <h1>Please Log In</h1>
    <p>For company security, you have been logged out.</p>
    <%= render 'sessions/signin2' %>
  </div>
</div>