<% provide(:title, 'Reset Password') %>

<div>

  <div class="content">
    <h1 class="page-title">Reset Password</h1>
  </div>

  <%= form_for(:session, action: :forgot) do |f| %>

      <p class="content">We will send you an email with instructions on how to reset your password.</p>

      <div class="field">
        <%= f.text_field :email, placeholder: "Type Email", value: params[:email], class: "txtfield" %>
        <%= f.submit "SEND EMAIL", class: "bluebtn" %>
      </div>

  <% end %>
</div>