<% provide(:title, 'Reset Password') %>

<div class="">

  <div class="page_header">
    <h1>Reset Password</h1>
  </div>

  <%= form_for(:session, action: :forgot) do |f| %>

      <p class="content">We will send you an email with instructions on how to reset your password.</p>

      <div class="field">
        <%= f.text_field :email, placeholder: "Type Email", value: params[:email],
                         class: "txtfield tooltip-info",
                         "data-placement" => "bottom",
                         "data-title" => "Email address of the Elephant account"%>
        <%= f.submit "SEND EMAIL", class: "bluebtn tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Send an email with a password reset"%>
      </div>

  <% end %>
</div>