<% provide(:title, 'Reset Password') %>

<div class="">

  <div class="page_header">
    <h1>Reset Password</h1>
  </div>

  <%= form_for(:session, action: :forgot) do |f| %>

      <div class="content">
        <div class="alert ">
          <p class="">We will send you an email with instructions on how to reset your password.</p>
        </div>

        <div class="well">
          <h3 class="inline">Email Address</h3>
          <%= f.text_field :email, placeholder: "Type Email", value: params[:email],
                           class: "txtfield tooltip-info push-right-small",
                           "data-placement" => "bottom",
                           "data-title" => "Email address of the Elephant account" %>
          <%= f.submit "SEND EMAIL", class: "bluebtn tooltip-info",
                       "data-placement" => "bottom",
                       "data-title" => "Send an email with a password reset" %>
        </div>
      </div>

  <% end %>
</div>