<% @rops_current_year = DrillingLog.where("drilling_logs.created_at >= ?", Date.today - 1.year).select("date_trunc('month', drilling_logs.created_at) as DATE").group("date_trunc('month', drilling_logs.created_at)").average("drilling_logs.rop").map { |k, v| {Date.strptime(k).month => v} }.reduce(:merge) %>
<% total_rop = 0.0 %>
<% if !@rops_current_year.nil? %>
    <% @rops_current_year.each do |r| %>
        <% total_rop = total_rop + r[0] %>
    <% end %>
<% end %>

<% total_feet = DrillingLog.where("drilling_logs.created_at >= ?", Date.today - 1.year).sum("drilling_logs.total_drilled") %>
<% accountable_issues = Issue.where("issues.accountable is TRUE").where("issues.created_at >= ?", Date.today - 1.year).count %>

<div id="overview_drilling" data-loaded='true'>

  <div>
    <div class="chart-block tooltip-info"
         data-title="Total number of active rigs">
      <div class="chart-title">Active Rigs</div>
      <div class="donut-chart-div job-donut-chart-div">
        <div class="donut-text "><%= Job.includes(well: :rig).where("jobs.status >= 1 AND jobs.status < 50").select("DISTINCT rigs.id").count() %></div>
        <div class="percentage ">rigs</div>
      </div>
    </div>

    <div class="chart-block tooltip-info"
         data-title="Total number of active rigs">
      <div class="chart-title">Failures per Foot</div>
      <div class="donut-chart-div job-donut-chart-div">
        <div class="donut-text "><%= (accountable_issues / total_feet.to_f).round(3) %></div>
        <div class="percentage ">f/ft</div>
      </div>
    </div>

    <div class="chart-block tooltip-info"
         data-title="Total number of active rigs">
      <div class="chart-title">Average ROP</div>
      <div class="donut-chart-div job-donut-chart-div">
        <div class="donut-text "><%= @rops_current_year.present? && @rops_current_year.length > 0 ? (total_rop.to_f / @rops_current_year.length).round(1) : 0.0 %></div>
        <div class="percentage ">ft/hr</div>
      </div>
    </div>
  </div>

  <hr>

  <div class='center'>
    <b class='blue-text'>Drilling ROP (trailing year)</b>
    <br><br>
  </div>
  <div class="">
    <canvas id="canvas_drilling" height="200" width="960"></canvas>
  </div>

  <script>
      var lineChartData = {
          labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
          datasets: [
              {
                  fillColor: "rgba(151,187,205,0.5)",
                  strokeColor: "rgba(151,187,205,1)",
                  pointColor: "rgba(151,187,205,1)",
                  pointStrokeColor: "#fff",
                  data: <%= raw (1..12).map { |month| (@rops_current_year && @rops_current_year[month]) || 0 }.to_json.html_safe %>
              }
          ]
      }

      var myLine = new Chart(document.getElementById("canvas_drilling").getContext("2d")).Line(lineChartData);

  </script>
</div>