<% provide(:title, "Overview") %>

<div class="page_header">
  <h1>Overview</h1>
</div>

<ul class="nav nav-pills alert alert-nav">

  <li class="active">
    <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
       data-tray="company"
       data-placement="bottom" data-title="Company general overview">Company
    </a>
  </li>

  <li class="">
    <a href="#" id="custom_data_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
       data-tray="rigs"
       data-placement="bottom" data-title="Rigs Overview">Rigs</a>
  </li>

  <li class="">
    <a href="#" id="custom_data_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
       data-tray="drilling"
       data-placement="bottom" data-title="Drilling Overview">Drilling</a>
  </li>

  <li class="push-right-small">
    <a href="#" id="job_tools_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
       data-tray="failures"
       data-placement="bottom" data-title="Failures overview">Failures</a>
  </li>

  <li class="push-right-small">
    <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
       data-tray="insight"
       data-placement="bottom" data-title="Insight overview">Insight
    </a>
  </li>

  <li class="push-right-small">
    <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
       data-tray="jobs"
       data-placement="bottom" data-title="Jobs overview">Jobs
    </a>
  </li>
</ul>


<%= render 'overview/filter' %>
<hr>

<br>

<div id="overview_loading" class="loading center hidden">
  <br>
  <br>
  <span class="ajax-loading search-loading  center"><b>Loading...</b></span>
  <br>
</div>

<div id="overview_trays">

  <div class="job-tray" data-tray="company">
    <div id="overview_company">
      <br><br>

      <div class="center">
        <br><br>
        <span class="ajax-loading search-loading"><b>Loading Company Overview...</b></span>
        <br>
      </div>
    </div>
  </div>

  <div class="job-tray custom-data-closed" data-tray="rigs">
    <div id="overview_rigs">
      <br><br>

      <div class="center">
        <br><br>
        <span class="ajax-loading search-loading"><b>Loading Rigs Overview...</b></span>
        <br>
      </div>
    </div>
  </div>

  <div class="job-tray custom-data-closed" data-tray="drilling">
    <div id="overview_drilling">
      <br><br>

      <div class="center">
        <br><br>
        <span class="ajax-loading search-loading"><b>Loading Drilling Overview...</b></span>
        <br>
      </div>
    </div>
  </div>

  <div class="job-tray custom-data-closed" data-tray="failures">
    <div id="overview_failures">
      <br><br>

      <div class="center">
        <br><br>
        <span class="ajax-loading search-loading"><b>Loading Failures Overview...</b></span>
        <br>
      </div>
    </div>
  </div>

  <div class="job-tray custom-data-closed" data-tray="insight">
    <div id="overview_insight">
      <br><br>

      <div class="center">
        <br><br>
        <span class="ajax-loading search-loading"><b>Loading Insight Overview...</b></span>
        <br>
      </div>
    </div>
  </div>

  <div class="job-tray custom-data-closed" data-tray="jobs">
    <div id="overview_jobs">
      <br><br>

      <div class="center">
        <br><br>
        <span class="ajax-loading search-loading"><b>Loading Jobs Overview...</b></span>
        <br>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            setTimeout(function () {

                $.ajax({
                    url: "/overview" + "?section=company",
                    type: "GET",
                    dataType: "script"
                });

            }, 1);

        });
    }(jQuery));
</script>