<li class="field">

  <h3 class="blue-text list-item-column2">
    <%= part.district_serial_number %>
  </h3>

  <p class="list-item-text list-item-column2">
    <%= part.serial_number %>
  </p>

  <p class="list-item-text list-item-column2">
    <span class="help-text status-good"><%= part.status_string %></span>
  </p>

</li>