<div class='remote-tray' data-tray="asset_failures">
  <div class="tray-content content-loaded">

  <div class='section-header' style="margin-top: 30px;">
      <h1 class="inline">Failures</h1>
    </div>


    <% if !part.issues.any? %>
        <p class='center help-text' style="margin-top: 30px;">
          No failures...
        </p>
    <% end %>
    <% part.issues.each do |issue| %>
        <%= render 'issues/issue', issue: issue, show_job: false %>
    <% end %>

  </div>
</div>