<div class='job-tray custom-data-closed' data-tray="asset_failures">
  <div class='content'>
    <div class='page_header'>
      <h2 class="inline">Failures</h2>
      <span class="help-text push-right-small">(<%= part.issues.count %>)</span>
    </div>


    <% if !part.issues.any? %>
        <p class='center help-text'>
          No failures...
        </p>
    <% end %>
    <% part.issues.each do |issue| %>
        <%= render 'issues/issue', issue: issue, show_job: false %>
    <% end %>

  </div>
</div>