<div class='remote-tray' data-tray="maintenance">
  <div class="tray-content content-loaded">

    <% redresses = PartRedress.where(:part_id => part.id).order("created_at DESC") %>

    <div class=''>
      <div class='section-header' style="margin-top: 30px;">
        <h1 class="inline">Maintenance Records</h1>
      </div>


      <% if !redresses.any? %>
          <p class='center help-text'>
            No maintenance records...
          </p>
      <% end %>
      <% redresses.each_with_index do |redress, index| %>
          <%= render 'parts/maintenance', redress: redress, index: index %>
      <% end %>

    </div>
  </div>
</div>