<div class='remote-tray' data-tray="full_history">
  <div class="tray-content content-loaded">
  <div class="section-header" style="margin-top: 30px;">
      <h1>Run History</h1>
    </div>

    <% redresses = PartRedress.where(:part_id => part.id).order("created_at DESC") %>
    <% jobs = part.jobs.order("created_at DESC") %>
    <% shipments = Shipment.includes(part_memberships: :part).where("part_memberships.part_id = ?", part.id).order("shipments.created_at DESC") %>

    <% if false %>
    <div class="map-container">
      <div id='map' class='dark' style='width:100%;height:300px;'></div>
      <div class="corner tlcorner"></div>
      <div class="corner trcorner"></div>
      <div class="corner brcorner"></div>
      <div class="corner blcorner"></div>
    </div>
    <% end %>

    <% if jobs.any? || redresses.any? %>
        <br><br>

        <% all_items = jobs.to_a %>
        <% redresses.each do |r| %>
            <% all_items << r %>
        <% end %>
        <% shipments.each do |s| %>
            <% all_items << s %>
        <% end %>
        <% all_items = all_items.sort_by(&:created_at).reverse %>
        <div style="margin-left: -10px; margin-right: -10px;">
          <% job_index = 0 %>
          <% all_items.each_with_index do |item, index| %>
              <% if item.is_a?(Job) %>
                  <%= render 'parts/part_run', job: item, index: job_index %>
                  <% job_index = job_index + 1 %>
              <% elsif item.is_a?(PartRedress) %>
                  <%= render 'parts/maintenance', redress: item, index: index %>
              <% elsif item.is_a?(Shipment) %>
                  <div>
                    <i class="icon-random"></i>       &nbsp;&nbsp;
                    <div class='inline-block align-top'>
                      <%= item.created_at.strftime("%m/%d/%Y") %>
                    </div>
                    <%= render 'shipments/shipment', shipment: item, editable: item.status != Shipment::COMPLETE, show_assets: false, in_job: true %>

                  </div>
              <% end %>
              <br>
          <% end %>
        </div>
    <% else %>
        <p class="center help-text"><br>This asset has not been run on any jobs...</p>
    <% end %>
  </div>
</div>




