<html>
<link rel="stylesheet" type="text/css" href="/application.css"/>
<body class="email-body" style="width:850px;">

<h1>Daily Recap</h1>

<p class="center">A job activity summary recap for <b><%= Time.now.to_date.strftime("%m/%d/%Y") %></b></p>
<hr>


<p class='help-text'>Jobs In Progress</p>

<div id="jobs" class="list">
  <% jobs = @jobs.where(:status => Job::ON_JOB) %>
  <% if jobs.any? %>
      <% @jobs.where(:status => Job::ON_JOB).each do |job| %>
          <%= render 'user_mailer/job_report', job: job %>
      <% end %>
  <% else %>
      <p class='help-text'>No Jobs in this phase...</p>
  <% end %>
</div>

<br><br>

<p class='help-text push-down'>Jobs in Pre or Post Phase</p>

<div id="jobs" class="list">
  <% jobs = @jobs.where("jobs.status != ?", Job::ON_JOB) %>
  <% if jobs.any? %>
      <% @jobs.where("jobs.status != ?", Job::ON_JOB).each do |job| %>
          <%= render 'user_mailer/job_report', job: job %>
      <% end %>
  <% else %>
      <p class='help-text'>No Jobs in this phase...</p>
  <% end %>
</div>


<% if Rails.env.production? %>
    <br>

    <div class="center"><%= image_tag "blue_logo_small.png" %></div>
    <br>
<% end %>

</body>
</html>