<html>
<link rel="stylesheet" type="text/css" href="/application.css"/>
<body class="email-body">

<h3><%= @message.user.name %> sent you a message</h3>
<br>
<p><b>"</b><%= @message.text %><b>"</b></p>

<br>
<% if Rails.env.production? %>
    <div class="center"><%= image_tag "blue_logo_small.png" %></div>
<% end %>

</body>
</html>