<html>
<link rel="stylesheet" type="text/css" href="/application.css"/>
<body class="email-body">

<h3><%= @message.user.name %> sent you a message</h3>
<br>
<p><b>"</b><%= @message.text %><b>"</b></p>

</body>
</html>