<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="/application.css"/>
<body class="email-body">

<p>Welcome to <b>Elephant</b>!</p>
<br>
<p>You have been added to your company account at <b><%=  @user.company.name %></b></p>

<p>Login using your email: <%= @user.email %></p>
<p>...and this temporary password: <span class="user-password"><%= @password %></span>
<br>
Once you login you will be prompted to create a new password.
</p>
<p><%= link_to "Login Now", "www.go-elephant.com", class: "activity-user-link" %></p>


</body>
</html>