<p>You have requested a password reset</p>

<p>Login using your email: <%= @user.email %></p>
<p>...and this temporary password: <%= @password %></p>

<p>Once you login you will be prompted to create a new password.</p>

<p><%= link_to "Login Now", root_url %></p>