<html>
<link rel="stylesheet" type="text/css" href="/application.css"/>
<body class="email-body">

<p>You have requested a password reset</p>
<br>
<p>Login using your email: <%= @user.email %></p>
<p>...and this temporary password: <%= @password %></p>
<br>
<p>Once you login you will be prompted to create a new password.</p>

<br>
<p><%= link_to "Login Now", "www.go-elephant.com", class: "activity-user-link" %></p>

</body>
</html>