<div class="">

  <div>
    <p class='job-field-title'>Well Name</p>
    <%= text_field_tag "", "", value: well.name,
                       placeholder: "Well Name",
                       class: "well-update-field job-field-value-editable tooltip-info align-top",
                       "data-id" => well.id.to_s,
                       "data-field" => "name",
                       "data-placement" => "bottom",
                       "data-title" => "Well name" %>
  </div>

  <div class="">
    <p class='job-field-title'>Surface Location</p>

    <div class='job-field-div'>
      <%= text_field_tag "", "", value: well.location,
                         placeholder: "Surface Latitude, Longitude of well",
                         class: "well-update-field job-field-value-editable tooltip-info map-latlong-text-entry align-top",
                         "data-id" => well.id.to_s,
                         "data-field" => "location",
                         "data-placement" => "bottom",
                         "data-title" => "Well surface location in 'latitude, longitude' format separated by comma" %>
    </div>


    <% if false %>
        <div class='inline-block push-down pull-right'>
          <%= select_tag "datum",
                         options_for_select([["Datum NAD83", Well::DATUM_NAD83], ["Datum NAD27", Well::DATUM_NAD27]], well.datum),
                         class: "well-update-field custom-select custom-select-ajax align-top push-down",
                         "data-id" => well.id.to_s,
                         "data-field" => "datum",
                         placeholder: "Datum" %>
        </div>
    <% end %>

    <div class='inline-block'>
      <p class='job-field-title'>Bottom Location</p>

      <div class='job-field-div'>
        <%= text_field_tag "", "", value: well.bottom_hole_location,
                           placeholder: "Bottom Hole Latitude, Longitude of well",
                           class: "well-update-field job-field-value-editable tooltip-info map-latlong-text-entry align-top ",
                           "data-id" => well.id.to_s,
                           "data-field" => "bottom_hole_location",
                           "data-placement" => "bottom",
                           "data-title" => "Well bottom hole location in 'latitude, longitude' format separated by comma" %>
      </div>
    </div>
  </div>

</div>