<div class="page_header">
  <h1>Create New Well</h1>
</div>

<%= form_for @well, remote: true do |f| %>

    <%= render "fields", f: f %>

    <div class="content actions">
      <%= f.submit "Create Well", class: "bluebtn pull-right" %>
    </div>

<% end %>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('.unitsSelect').customSelect();
        });
    }(jQuery));
</script>
