<div class="page_header">
  <h1>Create New Well</h1>
</div>

<div class="ajax-form new-well-form">
  <%= form_for @well, remote: true do |f| %>

      <%= render "fields", f: f %>

      <div class="content actions">
        <%= f.submit "Create Well", class: "bluebtn pull-right ajax-form-loading-on-click" %>
      </div>

  <% end %>
</div>

<div class="ajax-loading center hidden">
  <br>
  <br>
  <span class="ajax-loading search-loading"><b>Please wait, creating well...</b></span>
  <br>
</div>


<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('.unitsSelect').customSelect();
        });
    }(jQuery));
</script>
