<% if @well.new_record? %>
$('#alert').remove();
$('body').append("<%= j render 'layouts/modal_error', title: "Problem Adding Well", message: @well.errors.full_messages.join(', ').html_safe %>");
$('#alert').modal({show:true});

<% else %>

$('#modal_popup').css('visibility', 'hidden');
$('#modal_popup').find(".modal-content").children().remove();
$('#modal_popup').height(0);

$('#job_well_id').append($("<option></option>")
        .attr("value", '<%= @well.id %>')
        .text('<%= sanitize(@well.name) %>'));
$('#job_well_id').find("option[value='<%= @well.id %>']").attr('selected', 'selected');

$('#job_well_id').removeAttr("disabled");
$('#job_well_id').css("opacity", "1");

<% end %>