<div class="page_header">
  <h1>Advanced Search</h1>

</div>

<%= form_tag(search_index_path, :method => 'post', action: "create", :multipart => true) do %>

    <div id="search_criteria">
      <%= render 'search/search_constraint', index: 0 %>
    </div>

    <%= link_to "+ Add another criteria", "#", remote: true, id: "new_criteria",
                class: "add-search-field tooltip-info",
                "data-placement" => "bottom",
                "data-title" => "Add another criteria search in addition to existing ones" %>

    <%= submit_tag "Search", class: "bluebtn pull-right tooltip-info",
                "data-title" => "Run the search" %>
<% end %>