<div>
  <% issues = Issue.includes(:failure).includes(:job).where("failures.failure_master_template_id = ?", (failure.failure_master_template.present? ? failure.failure_master_template_id : failure.id) ).order("issues.failure_at DESC") %>
  <% issues.each do |issue| %>
    <%= render 'issues/issue', issue: issue, show_job: true %>
  <% end %>
</div>
