<div class="remote-tray" data-tray="open_issues">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading open issues..." %>
  </div>

  <div class="content tray-content content-loaded">


  <div class='content'>
    <div class='page_header'>
      <h1 class="inline">Open Incidents</h1>
      <span class="help-text push-right-small">(<%= 0 %>)</span>
    </div>


    <% paginated_issues = @issues.paginate(page: params[:page], limit: 20) %>
    <div id="list" class='' style="margin-right: -20px;margin-left: -20px;">
      <% if !paginated_issues.any? %>
          <p class='center help-text'>
            No Incidents...
          </p>
      <% end %>
      <% paginated_issues.where(:status => Issue::OPEN).each do |issue| %>
        <%= render 'issues/issue2', issue: issue %>
      <% end %>
    </div>

    <%= will_paginate paginated_issues %>

    <script type='text/javascript'>
        $(function () {
            $('.pagination a').live("click", function () {
                $('.pagination').html('Page is loading...');
                $.get(this.href, null, null, 'script');
                $('#list').animate({scrollTop : 0 }, 'fast');
                return false;
            });
        });
    </script>

  </div>
</div>
</div>