<div class='job-tray' data-tray="overview">

  <div class='content'>
    <div class='page_header'>
      <h1 class="inline">Overview</h1>
    </div>


    <%= render 'issues/statistics', jobs_sql: nil %>

  </div>
</div>