<% provide(:title, "Incidents") %>

<div class="page_header">
  <h1>Incidents</h1>
</div>


<div>
  <ul class="nav nav-pills alert alert-nav">
    <li class="active">
      <a href="#" class="job-tray-toggle custom-data-toggle tooltip-info"
         data-tray="overview"
         data-placement="bottom" data-title="Overview">Overview
      </a>
    </li>
    <li class="">
      <a href="#" id="custom_data_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
         data-tray="open_issues"
         data-placement="bottom" data-title="Open Incidents">Open Incidents</a>
    </li>
    <li class="">
      <a href="#" id="custom_data_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
         data-tray="all_issues"
         data-placement="bottom" data-title="All Incidents">All Incidents</a>
    </li>
    <li class="push-right-small">
      <a href="#" id="job_tools_toggle" class="job-tray-toggle custom-data-toggle tooltip-info"
         data-tray="failure_types"
         data-placement="bottom" data-title="Failures Types">Failure Types</a>
    </li>
  </ul>
</div>

<%= render 'issues/tray_overview' %>

<%= render 'issues/tray_open_issues' %>

<%= render 'issues/tray_all_issues' %>

<%= render 'issues/tray_failure_types' %>

