<div class="history">
  <%= render 'jobs/job', job: activity.job %>

  <% activity.job.recent_activity(activity.created_at).each do |a| %>
      <%= render 'activities/job_activity', activity: a, inside_job: false %>
  <% end %>

  <hr class="search-constraint-line">

</div>