<% provide(:title, I18n.t("history.index.title")) %>

<div class="page_header">
  <h1><%= t ".title" %></h1>

  <h2>

  </h2>
</div>


<div id="activities" class="list">
  <% @activities.each do |activity| %>
      <%= render 'history/history', activity: activity, inside_job: false %>
  <% end %>
</div>

<%= will_paginate @activities %>
