<div id="messages" class="message-view">

  <div class="conversation-participants">
    <h3 class="inline"><%= conversation.participants.map { |user| user == current_user ? "You" : user.name }.join(", ") %></h3>
  </div>

  <%= render 'conversations/conversation_messages', conversation: conversation %>

  <div>
    <%= render 'conversations/conversation_reply', conversation: conversation %>
  </div>
</div>