<div class="well">
  <%= form_for(conversation, remote: true) do |f| %>

      <%= f.text_area :message_text,
                      id: "conversation_reply_box",
                      class: "tooltip-info message-reply-box ",
                      "data-placement" => "top",
                      "data-title" => "Message text",
                      placeholder: I18n.t("conversations.reply_prompt") %>

      <div class="pull-right">
        <%= f.submit I18n.t("conversations.reply"), class: "bluebtn btnsmall tooltip-info",
                     "data-title" => "Send reply message to conversation" %>
      </div>

  <% end %>
  <br>

</div>