<div class="conversation-message">
  <div>
    <h3 class="inline">
      <%= render 'activities/user', user: message.user %>
    </h3>

    <p class="inline pull-right message-date tooltip-info"
       data-placement="bottom"
       data-title="<%= message.created_at.strftime("%a %m/%d/%Y %l:%M %p") %>">
      <%= time_ago_in_words(message.created_at) %> ago
    </p>
  </div>

  <p class="message-text"><%= raw message.text.gsub(/\n/, '<br />') %></p>

</div>