<link rel="stylesheet" type="text/css" href="/application.css" />

<h3>Job Complete: <%= @job.field.name + " | " +  @job.well.name %></h3>
<p>This job is now complete and has been closed.</p>

<%= render 'jobs/job', job: @job %>