<link rel="stylesheet" type="text/css" href="/application.css" />

<h3>Pre-Job complete: <%= @job.field.name + " | " +  @job.well.name %></h3>
<p>Please review the data and documents are correct and complete and approve the job to ship by clicking the button 'Ship Job To Field'.</p>

<%= render 'jobs/job', job: @job %>