<link rel="stylesheet" type="text/css" href="/application.css" />

<h3>Job Shipping to Field: <%= @job.field.name + " | " +  @job.well.name %></h3>
<p>This job is now shipping to location.</p>

<%= render 'jobs/job', job: @job %>