<html>
<link rel="stylesheet" type="text/css" href="/application.css"/>
<body class="email-body">

<h1>Job Shipping to Field</h1>
<br>

<p>This job is now shipping to location.</p>
<%= link_to @job.absolute_url, class: "activity-user-link" do %>View job<% end %>

<br><br>
<%= link_to @job.absolute_url, class: "job-email-link" do %>
    <%= render 'jobs/job_data_email', job: @job %>
<% end %>

<% if Rails.env.production? %>
    <br><br>
    <div class="center"><%= image_tag "blue_logo_small.png" %></div>
<% end %>

</body>
</html>