<html>
<link rel="stylesheet" type="text/css" href="/application.css"/>
<body class="email-body">

<h3>Job Shipping to Field</h3>
<br>

<p>This job is now shipping to location.</p>

<br><br>
<%= link_to @job.absolute_url, class: "job-email-link" do %>
    <%= render 'jobs/job_data_email', job: @job %>
<% end %>

</body>
</html>