<div class='remote-tray' data-tray='rigs'>

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading rigs..." %>
  </div>

  <% @rigs = Rig.order("rigs.name ASC") %>


  <div class='tray-content content-loaded'>
    <div class='section-header'>

      <h1 class='inline-block'>Rigs</h1>

      <div class='inline-block align-top pull-right'>
        <%= link_to new_rig_path, class: "btn btn-primary tooltip-info align-top",
                    style: "margin-left: 40px; margin-top: -3px;",
                    "data-placement" => "bottom",
                    "data-title" => "Create new job" do %>
            <i class="icon-plus-sign icon-white"></i>
            <span class='white-text'>New Rig</span>
        <% end %>
      </div>
    </div>

    <div id="rigs" style='margin-top: 20px;'>

      <% @rigs.each do |rig| %>
          <%= link_to rig, class: "job-status job-link job-link2 tooltip-info",
                      "data-placement" => "left",
                      "data-title" => "Click to open rig" do %>
              <%= render 'rigs/rig_line', rig: rig %>
          <% end %>
      <% end %>


    </div>
  </div>
</div>







