<div class="job-tray custom-data-closed" data-tray="primary_tools">
  <div class="page_header">
    <h1>Primary Tools</h1>
  </div>

  <div>
    <% job.job_template.primary_tools.each_with_index do |primary_tool, index| %>
        <fieldset class="field" id="primary_tool_<%= primary_tool.id %>">
          <div>
            <%= image_tag "tool.png" %>
            <div class="secondary-tool-name push-right-small">
              <h3><%= primary_tool.tool.name %></h3>
            </div>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>