<div class="page_header">
  <h1>Tools/Assets</h1>
</div>

<div>
  <% job.job_template.primary_tools.where(:template => false).where(:job_id => @job.id).includes(:tool).order("tools.name ASC, primary_tools.created_at ASC").each_with_index do |primary_tool, index| %>
        <%= render 'tools/primary/job_primary_tool', primary_tool: primary_tool, index: index, job: job %>
  <% end %>
</div>

<%= render 'jobs/job_secondary_tools', job: job, job_editable: @job_editable %>
