<div id="process_actions" class="alert">
  <% job.job_processes.select { |jp| jp.event_type == JobProcess::APPROVED_TO_SHIP }.each do |job_process| %>
      <%= render 'job_process/job_shipped', job_process: job_process %>
  <% end %>
  <% job.job_processes.select { |jp| jp.event_type == JobProcess::APPROVED_TO_CLOSE }.each do |job_process| %>
      <%= render 'job_process/job_closed', job_process: job_process %>
  <% end %>
</div>