<div class="">


  <div class="chart-block tooltip-info"
       data-title="Job Rating is a score from 1-5 of the job performance">
    <div class="chart-title">Rating</div>
    <div class="donut-chart-div job-donut-chart-div rating-count-div">
        <%= render 'failures/rating', rating: job.rating %>
    </div>
  </div>


  <div class="chart-block">
    <div class="chart-title">Failures</div>
    <div class="donut-chart-div job-donut-chart-div">
      <div class="donut-text chart-text-red failure-count"><%= job.failures.count.to_s %></div>
      <div class="percentage "></div>
    </div>
  </div>

  <div class="chart-block chart-block-extended">
    <div class="">
      <%= link_to "Add/Remove Job Failures", failures_path(:job_id => @job.id, :rate => "false"), remote: true,
                  class: "add-job-member add-failure tooltip-info",
                  id: "add_failure",
                  "data-placement" => "bottom",
                  "data-title" => "Add failure to job type" %>
      <br>
      <br>
    </div>
    <div class="failures-list">
      <%= render 'jobs/job_failure_list', job: @job %>
    </div>
  </div>

</div>

