
    <% if job.can_user_view?(current_user) %>
        <%= link_to job, class: "job-status job-link job-link2 tooltip-info",
                    "data-status" => job.status,
                    "data-member" => job.user_is_member?(current_user),
                    "data-placement" => "left",
                    "data-title" => "Click to open job" do %>
            <%= render 'jobs/job_progress', job: job, show_summary_data: true, job_name: false %>
        <% end %>
    <% else %>
        <div class="job-status job-link"
            data-status="<%= job.status %>">
            <%= render 'jobs/job_progress', job: job, show_summary_data: true, job_name: false %>
        </div>
    <% end %>