<% if job.start_date.present? && job.start_date > Time.now %>
    <div class="alert">
      Job starts in <%= pluralize([((job.start_date.to_date - Date.today).to_i / 365.25).to_i, 1].max, "day") %>
    </div>
<% end %>

<% if job.post_job_report_document.nil? || job.post_job_report_document.url.nil?  %>
<div id="process_actions" class="alert <%= (job.job_processes.includes(:user, job: { job_memberships: :user }).includes(job: { job_memberships: :job }).select { |jp| jp.event_type == JobProcess::APPROVED_TO_SHIP || jp.event_type == JobProcess::APPROVED_TO_CLOSE }.count > 0) ? "" : "hidden" %>">
  <% job.job_processes.includes(:user, job: { job_memberships: :user }).includes(job: { job_memberships: :job }).select { |jp| jp.event_type == JobProcess::APPROVED_TO_SHIP }.each do |job_process| %>
      <%= render 'job_process/job_shipped', job_process: job_process %>
  <% end %>
  <% job.job_processes.includes(:user, job: { job_memberships: :user }).includes(job: { job_memberships: :job }).select { |jp| jp.event_type == JobProcess::APPROVED_TO_CLOSE }.each do |job_process| %>
      <%= render 'job_process/job_closed', job_process: job_process %>
  <% end %>
</div>
<% end %>