<% if job.job_template.present? %>
    <% if job.can_user_view?(current_user) %>
        <%= link_to job, class: "job-status job-link tooltip-info",
                    "data-placement" => "left",
                    "data-title" => "Click to open job" do %>
            <%= render 'jobs/job_progress', job: job, show_summary_data: true, job_name: false %>
        <% end %>
    <% else %>
        <div class="job-status job-link">
            <%= render 'jobs/job_progress', job: job, show_summary_data: true, job_name: false %>
        </div>
    <% end %>
<% end %>