<div class="job-tray custom-data-closed" data-tray="time">
  <div class="page_header">
    <h1>Time/Scheduling</h1>
  </div>

  <div id="job_time">
    <div id="job_time_loader" class="center">
      <br><br>
      <div class="">
        <span class="ajax-loading search-loading"><b>Loading..</b></span>
      </div>
      <br><br><br>
      <br><br><br>
    </div>

  </div>
</div>
