<li class="job-member-list-item" id="job_membership_<%= job_membership.id %>">
  <div class="activity-user-link-div-short">
    <%= render 'activities/user', user: job_membership.user %>
  </div>
  <p class="job-members-position-title"><%= job_membership.role_title %></p>

  <%= link_to "remove", job_membership, method: :delete,  remote: true,
              data: {confirm: "Remove " + job_membership.user.name + " from job?"},
              class: "delete-button-small job-member-button" %>

</li>