<div class="remote-tray" data-tray="failures">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading failures..." %>
  </div>

  <div class='tray-content content-loaded'>

    <% issues = job.issues.includes(:job_notes).includes(failure: :failure_master_template) %>

    <div class="section-header" style="margin-top: 15px;">
      <h1>Failures</h1>

      <div class='push-right-small align-top'>
        <%= link_to failures_path(:job_id => @job.id, :rate => "false"), remote: true,
                    class: "btn btn-primary align-top white-text tooltip-info show-modal-button",
                    id: "add_failure",
                    "data-placement" => "bottom",
                    "data-title" => "Add failure to job" do %>
            <i class="icon-plus-sign icon-white"></i>
            <span>Add Failure</span>
        <% end %>
      </div>
    </div>


    <% if !issues.any? %>
        <p class='center help-text empty-failure-list'>
          No failures...
        </p>
    <% end %>
    <div id="failures_list">
      <% issues.each do |issue| %>
          <%= render 'issues/issue', issue: issue, show_job: false %>
      <% end %>
    </div>


    <div class="section-header" style="margin-top: 15px;">
      <h1>Alarms</h1>
    </div>

    <div style="font-family: gothambookregular; font-size: 12px;">

      <b>Recent</b>
      <hr>

      <div style="margin-bottom: 10px;">
        <div class="inline-block" style="width: 50px;">
          <span class='label' style="padding: 5px;">Low</span>
        </div>
         <span style="font-family: gothamboldregular;">Rotational Friction</span>
        <div class='pull-right'>
          9:32pm
        </div>
      </div>

      <div style="margin-bottom: 10px;">
        <div class="inline-block" style="width: 50px;">
          <span class='label' style="padding: 5px;">Low</span>
        </div>
        <span style="font-family: gothamboldregular;">Rotational Friction</span>
        <div class='pull-right'>
          9:18pm
        </div>
      </div>

      <br><br>

      <b>Older</b>
      <hr>

      <div style="margin-bottom: 10px;">
        <div class="inline-block" style="width: 50px;">
          <span class='label' style="padding: 5px;">Low</span>
        </div>
        <span style="font-family: gothamboldregular;">Rotational Friction</span>
        <div class='pull-right'>
          6:14pm
        </div>
      </div>


      <div style="margin-bottom: 10px;">
        <div class="inline-block" style="width: 50px;">
          <span class='label label-important' style="padding: 5px;">High</span>
        </div>
        <span style="font-family: gothamboldregular;">Pump-Pressure Deviation</span>
        <div class='pull-right'>
          3:20pm
        </div>
      </div>

      <div style="margin-bottom: 10px;">
        <div class="inline-block" style="width: 50px;">
          <span class='label' style="padding: 5px;">Low</span>
        </div>
        <span style="font-family: gothamboldregular;">Rotational Friction</span>
        <div class='pull-right'>
          11:18am
        </div>
      </div>


      <div style="margin-bottom: 10px;">
        <div class="inline-block" style="width: 50px;">
          <span class='label' style="padding: 5px;">Low</span>
        </div>
        <span style="font-family: gothamboldregular;">Sliding Friction</span>
        <div class='pull-right'>
          9:42am
        </div>
      </div>

      <div style="margin-bottom: 10px;">
        <div class="inline-block" style="width: 50px;">
          <span class='label label-warning' style="padding: 5px;">Med</span>
        </div>
        <span style="font-family: gothamboldregular;">Free-Rotating-Weight Deviation</span>
        <div class='pull-right'>
          2:20am
        </div>
      </div>

      <div style="margin-bottom: 10px;">
        <div class="inline-block" style="width: 50px;">
          <span class='label' style="padding: 5px;">Low</span>
        </div>
        <span style="font-family: gothamboldregular;">Annulus Friction</span>
        <div class='pull-right'>
          2:19am
        </div>
      </div>


      <div style="margin-bottom: 10px;">
        <div class="inline-block" style="width: 50px;">
          <span class='label label-info' style="padding: 5px;">Info</span>
        </div>
        <span style="font-family: gothamboldregular;">Building Curve</span>
        <div class='pull-right'>
          11:54pm
        </div>
      </div>

      <div style="margin-bottom: 10px;">
        <div class="inline-block" style="width: 50px;">
          <span class='label' style="padding: 5px;">Low</span>
        </div>
        <span style="font-family: gothamboldregular;">Rotational Friction</span>
        <div class='pull-right'>
          8:08pm
        </div>
      </div>
    </div>

  </div>
</div>