<div class="remote-tray" data-tray="comparison">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading comparison analysis..." %>
  </div>

  <div class='tray-content content-loaded'>


    <div class="section-header" style="margin-top: 15px;">
      <h1>Comparison Analysis</h1>
    </div>

    <% @drilling_log = @job.drilling_log %>
    <% drilling_log = @drilling_log %>

    <% if drilling_log.drilling_log_entries.any? %>

        <div id="depth_chart" style="width: 100%; height: 400px; display: inline-block"></div>

    <% else %>
        <p class='help-text'>No drilling log entries...</p>
    <% end %>
  </div>
</div>


<script type='text/javascript'>


    <% drilling_log = @drilling_log %>
    <% if drilling_log.drilling_log_entries.any? %>
    <% rops = [] %>
    <% depth = [] %>
    <% last_entry = drilling_log.drilling_log_entries.first %>
    <% max_depth = 0 %>
    <% drilling_log.drilling_log_entries.each do |dl| %>
    <% time = (dl.entry_at - last_entry.entry_at).to_f / 60.0 / 60.0 %>
    <% if dl.activity_code == DrillingLogEntry::DRILLING || dl.activity_code == DrillingLogEntry::SLIDING || time > 0.2 %>
    <% rops <<  { "date" => dl.entry_at.strftime("%m/%d/%Y %k:%M"), "time" => time > 0  ? time.round(2) : 0.0, "activity" => DrillingLogEntry.activity_code_string(dl.activity_code), "rop" => dl == last_entry || (dl.activity_code != DrillingLogEntry::SLIDING && dl.activity_code != DrillingLogEntry::DRILLING) ? 0.0 : dl.rop.present? && dl.rop < 2000 ? dl.rop.round(2) : 0.0, "lineColor" => dl.activity_code == DrillingLogEntry::DRILLING || dl.activity_code == DrillingLogEntry::SLIDING ? (dl.activity_code == DrillingLogEntry::DRILLING ? "#00BBCC" : "#223bf2") : "#f24922", "bulletSize" => (dl.activity_code == DrillingLogEntry::POOH && last_entry.activity_code != DrillingLogEntry::POOH)  ? 11 : 0, "bulletColor" => dl.activity_code == DrillingLogEntry::CHANGE_BHA  ? "#000000" : "#f24922", "wob" => dl.wob, "flow" => dl.flow, "rpm" => dl.rotary_rpm, "depth" => dl.depth } %>
    <% end %>
    <% if dl.activity_code != DrillingLogEntry::CONNECTION && dl.activity_code != DrillingLogEntry::CONNECTION_SURVEY && dl.activity_code != DrillingLogEntry::MWD_SURVEY %>
    <% depth <<  { "date" => dl.entry_at.strftime("%m/%d/%Y %k:%M"), "activity" => DrillingLogEntry.activity_code_string(dl.activity_code), "depth" => dl.depth >= max_depth ? dl.depth : max_depth, "bullet" => (dl.activity_code == DrillingLogEntry::REAMING || dl.activity_code == DrillingLogEntry::PIPE_STUCK || dl.activity_code == DrillingLogEntry::WIRELINE || dl.activity_code == DrillingLogEntry::RIG_REPAIR || dl.activity_code == DrillingLogEntry::FISHING || dl.activity_code == DrillingLogEntry::RIG_SERVICE_INHOLE || dl.activity_code == DrillingLogEntry::POOH )  ? "round" : "", "color" => DrillingLogEntry.activity_code_color(dl.activity_code), "lineColor" =>  (dl.activity_code == DrillingLogEntry::DRILLING || dl.activity_code == DrillingLogEntry::SLIDING) ? "#ec8133" : DrillingLogEntry.activity_code_color(dl.activity_code) } %>
    <% end %>
    <% max_depth = [max_depth, dl.depth].max %>
    <% last_entry = dl %>
    <% end %>


    // Depth
    var chart = new AmCharts.AmSerialChart();
    chart.pathToImages = "http://www.amcharts.com/lib/3/images/";
    chart.dataProvider = <%= raw depth.to_json.html_safe %>;
    chart.categoryField = "date";
    chart.dataDateFormat = "MM/DD/YYYY H:NN";

    // AXES
    // category

    var categoryAxis = chart.categoryAxis;
    categoryAxis.parseDates = false;
    categoryAxis.minPeriod = "ss"; // our data is daily, so we set minPeriod to DD
    categoryAxis.dashLength = 1;
    categoryAxis.gridAlpha = 0.15;
    categoryAxis.axisColor = "#DADADA";
    categoryAxis.labelFunction = function (value, valueString, axis) {
        return '';
    };


    // value
    var valueAxis = new AmCharts.ValueAxis();
    valueAxis.axisColor = "#DADADA";
    valueAxis.dashLength = 1;
    valueAxis.position = "left";
    valueAxis.reversed = true;
    //valueAxis.logarithmic = true; // this line makes axis logarithmic
    chart.addValueAxis(valueAxis);

    // GRAPH
    graph = new AmCharts.AmGraph();
    graph.type = "line";
    graph.bulletBorderAlpha = 1;
    graph.bulletBorderThickness = 2;
    graph.bulletField = "bullet";
    graph.bulletSizeField = "bulletSize";
    graph.balloonText = "<b>[[activity]]</b><br>Depth [[depth]] ft";
    graph.title = "Depth";
    graph.valueField = "depth";
    graph.lineThickness = 3;
    graph.lineColorField = "lineColor";
    chart.addGraph(graph);


    // CURSOR
    var chartCursor = new AmCharts.ChartCursor();
    chartCursor.cursorPosition = "mouse";
    chart.addChartCursor(chartCursor);

    chart.write("depth_chart");




    <% end %>
</script>