<% job = @job %>
<div>
  <div>
    <div class='pull-right'>
      <a id="close_cost" class='delete-button-small time-close-button'>x</a>
    </div>
    <h3 class='orange-text'>Costs</h3>
  </div>

  <br>

  <%= render 'job_costs/new' %>
  <hr>


  <% if @job.job_costs.empty? %>
      <p class="center help-text no-entries"><br>No charges...</p>
  <% end %>


  <div class="" id="list">
    <% if @job.job_costs.any? %>
        <% @job.job_costs.each_with_index do |job_cost, index| %>
            <%= render 'job_costs/job_cost', job_cost: job_cost, index: index %>
        <% end %>
    <% end %>
  </div>

  <hr>

  <%= render 'job_costs/totals', job: job %>

  <br>

</div>