<% if !job.nil? %>
<%="<div class='well-tooltip' style='font-family: gothambookregular;'>" +
           (job.well.rig.present? ? "<h2 class='light-blue-text'>#{job.well.rig.name}</h2>" : "") +
           "<h2 class='orange-text'>" + job.field.name + "<br>" + job.well.name + "</h2>" +
           (job.client.present? ? "<br><h3>" + job.client.name + "</h3>" : "") +
           "<h3 class='push-down-small'>" + (job.start_date.present? ? job.start_date.strftime("%m/%d/%Y") : job.created_at.strftime("%m/%d/%Y")) + "</h3>" +
           "<h3 class='inline-block'>Job #</h3> <span>" + (job.job_number.nil? ? "-" : job.job_number) + "</span>" +
           "</div>" %>

<% if false %>
    (show_summary_data ? "<hr><div>" + job.job_template.primary_tools.where(:template => true).map { |pt| "<span class='label'>" + pt.tool.name + "</span>" }.join(" ") + "</div>" : "") +

    (show_summary_data ? "<hr><h3>" + job.dynamic_fields.select { |df| !df.template? && df.priority? }.map { |df| df.name + ": " + (df.value.present? ? df.value : "-") }.join("<br>") + "</h3>" : "") +

<% end %>
<% end %>