<div class="content">
  <%= render 'job_data', job: @job %>
</div>

<div class="content">
  <% @job.job_template.dynamic_fields.each do |df| %>
      <div class="field striped">
        <p class="job-field-title"><%= df.name  %></p>
        <p class="job-field-value">-</p>
      </div>
  <% end %>
</div>

<div class="header">
  <h2>Documents</h2>
</div>

<div class="content">
  <% @job.job_template.documents.each do |d| %>
      <%= render 'documents/document', document: d %>
  <% end %>
</div>

