<% if user.present? %>
    <% names = user.present? ? user.name.split : [] %>
    <%= link_to user,
                class: "member-icon tooltip-info",
                "data-placement" => "bottom",
                "data-html" => true,
                "data-title" => "<div class='activity-tooltip'><h2 class='white-text'>" +
                        user.name + "</h2><h2>" +
                        user.title.to_s + "</h2><p>" +
                        (user.district.present? ? user.district.name : "-") + "</p></div>" do %>
        <p>
          <% if names.any? %>
              <%= names.count > 1 ? names.first[0, 1] + names.last[0, 1] : names.first[0, 1] %>
          <% else %>
              -
          <% end %>
        </p>
    <% end %>
<% end %>
