<li class="field">
  <%= link_to edit_user_path(user), class: "list-item-header user-header" do %>

      <p class="list-item-header-text list-item-column">
        <%= user.name %>
      </p>

      <p class="list-item-text list-item-column2">
        <% if user.district.present? %>
            <%= user.district.name %>
        <% else %>
            -
        <% end %>
      </p>

      <p class="list-item-text list-item-column2">
        <% if user.role.present? %>
            <%= user.role.title %>
        <% end %>
      </p>
  <% end %>


</li>