<% provide(:title, "Update user") %>
<h1>Update user</h1>

<%= form_for(@user) do |f| %>
    <%= render 'fields', f: f %>
    <%= f.submit "Save User", class: "bluebtn pull-right" %>
<% end %>


<% if signed_in_admin? %>
    <%= link_to "Delete User", @user, method: :delete,
                data: { confirm: "You sure?" }, class: "bluebtn red pull-right-button" %>
<% end %>
