<%= form_for @division, html: { id: "new_division_id", class: "new-product-line" }, remote: true do |f| %>

    <div class="new-product-line">
        <%= f.text_field :name, placeholder: "New Division Name", class: "txtfield", autofocus: true %>
        <%= f.submit "Add", class: "bluebtn btnsmall" %>

      <%= link_to "Cancel", "#", id: "cancel_division_" + @division.id.to_s, class: "bluebtn btnsmall red" %>

    </div>

<% end %>