<% provide(:title, 'Job Systems') %>


<div class="alert alert-info">
  <div class="field-title">Quick jump to job system</div>

  <%= text_field_tag "", "", data: {autocomplete_source: job_templates_path},
                     placeholder: "Type Job system name...",
                     id: "job_type_name",
                     class: "inline txtfield job-note-assign custom-data-input tooltip-info",
                     "data-placement" => "right",
                     "data-title" => "Jump directly to a job system by name" %>
</div>

<div class="page_header">
  <h1>Divisions</h1>

  <h2><%= @divisions.count %></h2>



  <%= link_to "+ Add New Division", new_division_path, remote: true,
              class: "bluebtn page_header_button tooltip-info",
              id: "new_division_link",
              "data-placement" => "bottom",
              "data-title" => "Create new division for job types" %>
</div>



<div id="divisions">
  <%= render @divisions %>
</div>


<script>
    $(document).ready(function () {
        $('#job_type_name').data("autocomplete")._renderItem = function (ul, item) {
            return $("<li class='item_" + item.id + "'></li>").data("item.autocomplete", item).append(
                    "<a><div class='job-user'><strong>" + item.label + " </strong><div><p class=''>" + item.division + " | " + item.segment + " | " + item.product_line + "</p></div></div></a>").appendTo(ul)
        }
    });
</script>