<div id="cost_totals" class='pull-right'>
  <div class='inline-block'>Today</div>
  &nbsp;
  <% today = @job.job_costs.where("date_trunc('day', job_costs.charge_at) = ?", Date.today.strftime('%Y-%m-%d')).map { |jc| jc.price * jc.quantity }.reduce(:+) %>
  <h3 class='inline-block'><%= today.nil? ? '$0.00' : number_to_currency(today, :unit => "$") %></h3>

  <div class='inline-block push-right'>Total</div>
  &nbsp;
  <h3 class='inline-block' style='font-family: gothamboldregular; color: #14a3e5; font-size: 36px;'><%= number_to_currency(job.total_cost, :unit => "$") %></h3>
</div>