<li>
  <%= link_to client.name, edit_client_path(client), class: "client-header" %>
  <% if signed_in_admin? %>
    | <%= link_to "delete", client, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>