<li class="field">
  <%= link_to edit_client_path(client), class: "list-item-header user-header tooltip-info",
              "data-placement" => "left",
              "data-title" => "Click to open/edit customer" do %>
    <%= client.name %>

  <% end %>
</li>