<%= render 'shared/error_messages', object: f.object %>

<div class="content">
  <div class="field">
    <%= f.text_field :name, placeholder: I18n.t("jobs.job_data.client_name"), class: "txtfield tooltip-info",
                     "data-placement" => "bottom",
                     "data-title" => "Customer Name" %>
  </div>
</div>