<%= render 'shared/error_messages', object: f.object %>

<div class="well">
  <div class="">
    <%= f.text_field :name, placeholder: I18n.t("jobs.job_data.client_name"),
                     class: "txtfield tooltip-info",
                     id: "client_name_id",
                     :autocomplete => 'off',
                     "data-placement" => "bottom",
                     "data-title" => "Customer Name" %>
  </div>

  <div class="alert alert-warning hidden">
         <b>Warning!</b> Customers that already exist
    <br><br>
    <div id="similar_customer"></div>
  </div>
</div>