<%= render 'shared/error_messages', object: f.object %>

<div class="header">
  <h2><%= t "global.information" %></h2>
</div>

<div class="content">
  <div class="field">
    <%= f.text_field :name, placeholder: I18n.t("jobs.job_data.client_name"), class: "txtfield" %>
  </div>
</div>