<% if f.object.present? %>
    <%= render 'shared/error_messages', object: f.object %>
<% end %>

<div class="well">
  <div class="">
    <%= f.text_field :name, placeholder: I18n.t("jobs.job_data.client_name"),
                     class: "txtfield tooltip-info",
                     id: "client_name_id",
                     :autocomplete => 'off',
                     "data-placement" => "bottom",
                     "data-title" => "Company Name" %>
  </div>

  <div class="alert alert-warning hidden">
    <b>Warning!</b> Companies that already exist
    <br><br>

    <div id="similar_customer"></div>
  </div>

  <div class="field stripe hidden">
    <%= f.label :country_id, class: "field-title" %>
    <%= f.select :country_id, options_for_select(@countries.sort_by { |c| c.name }.collect { |p| [p.name, p.id] }, 233),
                 prompt: "Select a Country..." %>
  </div>

</div>