<div class="page_header">
  <h1>Create New Customer</h1>
</div>

<div class="form" data-form="new_client">
  <%= form_for @client, remote: true do |f| %>

      <%= render "form", f: f %>

      <div class="content">
        <%= f.submit "Create Customer",
                     class: "bluebtn pull-right form-loading-on-click",
                    "data-form" => "new_client" %>

      </div>

  <% end %>
</div>

<div class="form-loading hidden" data-form="new_client">
  <%= render 'layouts/inline_loading', title: "Creating..." %>
</div>
