<h1 class="page-title">Update Customer</h1>

<%= form_for(@client) do |f| %>

    <%= render "form", f: f %>

    <div class="actions">
      <%= f.submit "Save Customer", class: "bluebtn pull-right" %>
    </div>
<% end %>


<% if signed_in_admin? %>
    <%= link_to "Delete", @client, method: :delete,
                data: { confirm: "You sure?" }, class: "bluebtn red pull-right-button" %>
<% end %>