$("#clients_list").html("<%= j will_paginate %><div id='clients' class='list'><%= j render(@clients) %></div><%= j will_paginate %>");

$('.paginated-count').empty();
$('.paginated-count').append('<%= @clients.count.to_s %>');
