<h1 class="page-title"><%= t ".title" %></h1>

<%= form_for(@client) do |f| %>

    <%= render "form", f: f %>

    <div class="actions">
      <%= f.submit I18n.t("clients.new.save"), class: "bluebtn pull-right" %>
    </div>
<% end %>
