<li class="field">
  <%= link_to edit_user_role_path(user_role), class: "list-item-header user-header" do %>

      <p class="list-item-header-text list-item-column">
        <%= user_role.title %>
      </p>
  <% end %>
</li>