<% provide(:title, "Update Role") %>

<div class="page_header">
  <h1>Update Role</h1>
</div>

<%= form_for(@role) do |f| %>
    <%= render 'fields', f: f %>
    <%= f.submit "Save Role", class: "bluebtn pull-right" %>
<% end %>


<% if signed_in_admin? %>
    <%= link_to "Delete Role", @role, method: :delete,
                data: {confirm: "Delete Role " + @role.title + "?"}, class: "bluebtn red pull-right-button" %>
<% end %>
