<% provide(:title, 'User Roles') %>

<div class="page_header">
  <h1>User Roles</h1>
</div>

<div class="page-header-small">
  <h1>Support</h1>
</div>
<div class="list">
  <%= render UserRole.support_roles current_user.company %>
</div>
<br><br>

<div class="page-header-small">
  <h1>Field</h1>
</div>
<div class="list">
  <%= render UserRole.field_roles current_user.company %>
</div>
<br><br>

<div class="page-header-small">
  <h1>Sales</h1>
</div>
<div class="list">
  <%= render UserRole.sales_roles current_user.company %>
</div>
<br><br>

<div class="page-header-small">
  <h1>Elephant Admin</h1>
</div>
<div class="list">
  <%= render UserRole.admin_roles current_user.company %>
</div>

