<%= form_for @product_line, remote: true do |f| %>

    <div id="fieldset">
      <div class="field">
        <%= f.text_field :name, placeholder: "Product Line Name", value: @product_line.name %>
        <%= f.submit "Save", class: "btn btn-primary" %>
        <%= link_to "Cancel", "#", class: "btn btn-danger", id: "cancel_rename" %>
      </div>
    </div>


<% end %>