<%= form_for @product_line, remote: true, class: "new-product-line" do |f| %>

    <div class="new-product-line">
        <%= f.text_field :name, placeholder: "New Product Line Name", class: "txtfield", autofocus: true %>
        <%= f.submit "Add", class: "bluebtn btnsmall" %>
    </div>


<% end %>