$('#explore_loading').addClass('hidden');
$('#main_chart').removeClass('hidden');

graphs = [];
graphs.push({
    "valueAxis": "v1",
    "balloonText": "[[rig_name]]<br><b>[[title]]</b><br><span style='font-size:14px'><b>[[value]]</b> ft/hr</span>",
    "fillColors": "#3caaf0",
    "lineColor": "#3caaf0",
    "fillAlphas": 0.3,
    "lineAlpha": 0.5,
    "type": "column",
    "title": "Average ROP",
    "valueField": "avg_rop"
});

graphs.push({
    "valueAxis": "v2",
    "balloonText": "[[rig_name]]<br><b>[[title]]</b><br><span style='font-size:14px'> <b>[[value]]</b>%</span>",
    "bullet": "square",
    "dashLengthField": "dashLengthLine",
    "lineThickness": 3,
    "bulletSize": 10,
    "bulletBorderAlpha": 1,
    "bulletColor": "#ff0000",
    "useLineColorForBulletBorder": true,
    "bulletBorderThickness": 3,
    "fillAlphas": 0,
    "lineAlpha": 0.5,
    "color": "#ff0000",
    "title": "NPT",
    "valueField": "npt"
});


var chart = AmCharts.makeChart("main_chart", {
    "type": "serial",
    "theme": "light",
    "dataProvider": <%= get_all_rigs_rops(@time_range).to_json.html_safe %>,
    "valueAxes": [
        {
            "id":"v1",
            "axisAlpha": 0.3,
            "gridAlpha": 0,
            "position": "left",
            "title": "ROP"

        },
        {
            "id":"v2",
            "axisAlpha": 0.3,
            "gridAlpha": 0,
            "position": "right",
            "title": "NPT %"
        }
    ],
    "graphs": graphs,
    "categoryField": "rig_name",
    "categoryAxis": {
        "gridPosition": "start",
        "axisAlpha": 0,
        "gridAlpha": 0,
        "position": "bottom",
        "labelRotation": "45"
    }
});






