<div class="upload-metadata inline">
  <% if document.url %>
      <%= link_to document.name, document.full_url, class: "document-name" %>
  <% else %>
      <div class="document-name-container">
        <%= label_tag document.name, nil, class: "document-name" %>
      </div>
  <% end %>


  <div class="document-file-name-box">
    <% if !document.url.nil? %>
        <%= label_tag '"' + document.file_name + '"', nil, class: "document-file-name" %>
    <% else %>
        <%= label_tag "no document uploaded", nil, class: "document-file-name warning-text" %>
    <% end %>
  </div>
</div>