<% provide(:title, "Update Company") %>

<div class="page_header">
  <h1><%= @company.name %> Info</h1>
</div>

<%= form_for @company do |f| %>

    <%= render 'fields', f: f %>

    <%= f.submit "Save Company", class: "bluebtn pull-right" %>

<% end %>