<h1><%= @company.name %></h1>
<div class="page_header">
  <h1>Company Directory</h1>

  <h2><%= @users.count() %></h2>
</div>

<% if signed_in_admin? %>

<% else %>
    <% @users.each do |user| %>

        <div>
          <%= link_to user.name + "    (" + user.email + ")", user %>
        </div>

    <% end %>
<% end %>