<div class="section-header">
  <h1>Shippers</h1>

  <div class='inline-block align-top push-down-small'>
    <%= link_to new_shipper_path(district: @district), class: "btn btn-primary white-text push-right-small tooltip-info",
                "data-placement" => "bottom",
                "data-title" => "Create new shipper" do %>
        <i class="icon-plus-sign icon-white"></i>
        <span>New Shipper</span>
    <% end %>
  </div>
</div>

<% if @shippers.any? %>
    <div id="list" class="list">
      <% @shippers.each do |shipper| %>
          <%= render 'shippers/shipper', shipper: shipper %>
      <% end %>
    </div>
<% else %>
    <br>
    <span class='help-text'>No shippers configured, please add from above...</span>
<% end %>