<% provide(:title, "Supplier - " + @shipper.name) %>

<div class="page_header">
  <h1><%= @shipper.name %></h1>

  <h2>
    Shipper
  </h2>

  <div class="btn-group inline pull-right push-right-small">
    <a class="custom-data-toggle-jobs" data-toggle="dropdown" href="#">
      Advanced Actions
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Edit Supplier", edit_shipper_path(@shipper),
                    class: "dropdown-menu-link tooltip-info",
                    "data-placement" => "left",
                    "data-title" => "Edit supplier" %>
      </li>
    </ul>
  </div>

  <br>
  <div class='help-text'>
    <%= "#{@shipper.city} #{@shipper.state}" %>
  </div>


</div>



