<h1>Update District</h1>


<%= form_for @district do |f| %>

    <%= render "fields", f: f %>

    <div class="content actions">
      <%= f.submit "Save district", class: "bluebtn pull-right" %>
    </div>

<% end %>


<% if signed_in_admin? %>
    <%= link_to "Delete District", @district, method: :delete,
                  data: { confirm: "You sure?" }, class: "bluebtn red pull-right-button" %>
<% end %>

