<h1 class="page-title">New District</h1>

<%= form_for @district do |f| %>

    <%= render "form", f: f %>

    <div class="content actions">
      <%= f.submit "Create district", class: "bluebtn pull-right" %>
    </div>

<% end %>
