<div class="page_header">
  <h1>New District</h1>
</div>

<%= form_for @district do |f| %>

    <%= render "fields", f: f %>

    <div class="content actions">
      <%= f.submit "Create district", class: "bluebtn pull-right tooltip-info",
                   "data-title" => "Save new district" %>
    </div>

<% end %>
