$("#jobs").html("<%= j will_paginate @jobs %><div id='jobs' class='list'><%= @jobs.each { |job| j render 'jobs/job_link', job: job } %></div><%= j will_paginate @jobs %>");

$('.paginated-count').empty();
$('.paginated-count').append('<%= @jobs.count.to_s %>');
