
<%= form_for "/job_process/" + job.id.to_s, :html => {class: "", id: "job_ready_to_close", :method => :put}, remote: true do |f| %>
    <div class="job-process-div">
      Job Ready to Close
      <p class="">Make sure all Post-Job documents are correct and complete</p>
      <%= f.submit "Approve and Close Job", class: "bluebtn green inline tooltip-info",
                   "data-placement" => "left",
                   "data-title" => "Closes job and generates the post job report."%>
    </div>
<% end %>
