<div class="content" id="job_shipped_id">
  <p class="activity-date"><%= job_process.created_at %></p>

  <p class="job-approved-to-ship inline push-right">Job approved to ship to field</p>

  <p class="inline">-</p>
  <div class="inline">
    <%= render 'activities/user', user: job_process.user %>
  </div>

</div>