<div class="content" id="job_shipped_id">
  <p class="activity-date">12/7/12 </p>

  <p class="job-approved-to-ship inline push-right">Job approved to ship to field</p>

  <p class="inline">-</p>
  <div class="inline">
    <%= render 'activities/user', user: user %>
  </div>

</div>