<div id="survey_charts">
  <div id="chartdiv" class='inline-block' style="width: 500px; height: 350px;"></div>

  <div id="chartdiv2" class='inline-block' style="width: 400px; height: 350px;"></div>

  <% calculated_points = survey.calculated_points %>

  <%= link_to "Show Detail View and Points", survey, class: "pull-right activity-user-link push-left" %>


  <script type="text/javascript">

      var chart;
      var chartData = <%= raw calculated_points.select{ |p| !p.comment.blank? }.map { |point| {"tvd" => point.true_vertical_depth.round(1), "vs" => point.vertical_section.round(1), "comment" => point.comment} }.to_json.html_safe %>;
      var chart2;
      var chartData2 = <%= raw calculated_points.select{ |p| !p.comment.blank? }.map { |point| {"ns" => point.north_south.round(1), "ew" => point.east_west.round(1), "comment" => point.comment} }.to_json.html_safe %>;


      AmCharts.ready(function () {

          // SERIAL CHART
          chart = new AmCharts.AmXYChart();
          chart.pathToImages = "http://www.amcharts.com/lib/3/images/";
          chart.dataProvider = chartData;


          var valueAxis = new AmCharts.ValueAxis();
          valueAxis.title = "Vertical Section";
          valueAxis.position = "bottom";
          valueAxis.dashLength = 5;
          valueAxis.axisAlpha = 0;
          valueAxis.autoGridCount = true;
          valueAxis.minimum = -200;
          chart.addValueAxis(valueAxis);

          var valueAxis = new AmCharts.ValueAxis();
          valueAxis.title = "True Vertical Depth";
          valueAxis.position = "left";
          valueAxis.dashLength = 5;
          valueAxis.axisAlpha = 0;
          valueAxis.autoGridCount = true;
          valueAxis.reversed = true;
          chart.addValueAxis(valueAxis);


          // GRAPH
          var graph = new AmCharts.AmGraph();
          graph.xField = "vs";
          graph.yField = "tvd";
          graph.type = "smoothedLine";
          graph.bullet = "round";
          graph.balloonText = "<b>[[comment]]</b><br> TVD [[tvd]] ft, VS [[vs]] ft";
          graph.bulletColor = "#FFFFFF";
          graph.bulletBorderColor = "#00BBCC";
          graph.bulletBorderAlpha = 1;
          graph.bulletBorderThickness = 2;
          graph.bulletSize = 7;
          graph.title = "tvd";
          graph.lineThickness = 2;
          graph.lineColor = "#00BBCC";
          graph.clustered = true;
          chart.addGraph(graph);

          // CURSOR
          var chartCursor = new AmCharts.ChartCursor();
          chartCursor.cursorPosition = "mouse";
          chart.addChartCursor(chartCursor);


          // WRITE
          chart.write("chartdiv");

          var label = $("g[cursor=pointer]");
          if (label.length > 0) {
              var tspan = label.find('tspan');
              if (tspan.length > 0) {
                  label.remove();
              }
          }


          // SERIAL CHART
          chart2 = new AmCharts.AmXYChart();
          chart2.pathToImages = "http://www.amcharts.com/lib/3/images/";
          chart2.dataProvider = chartData2;


          var valueAxis = new AmCharts.ValueAxis();
          valueAxis.title = "East/West";
          valueAxis.position = "bottom";
          valueAxis.dashLength = 5;
          valueAxis.axisAlpha = 0;
          valueAxis.integersOnly = false;
          valueAxis.gridCount = 10;
          chart2.addValueAxis(valueAxis);


          var valueAxis = new AmCharts.ValueAxis();
          valueAxis.title = "North/South";
          valueAxis.position = "left";
          valueAxis.dashLength = 5;
          valueAxis.axisAlpha = 0;
          valueAxis.integersOnly = false;
          valueAxis.gridCount = 10;
          valueAxis.reversed = true;
          chart2.addValueAxis(valueAxis);


          // GRAPH
          var graph = new AmCharts.AmGraph();
          graph.xField = "ew";
          graph.yField = "ns";
          graph.type = "smoothedLine";
          graph.bullet = "round";
          graph.balloonText = "<b>[[comment]]</b> [[ns]], [[ew]]";
          graph.bulletColor = "#FFFFFF";
          graph.bulletBorderColor = "#00BBCC";
          graph.bulletBorderAlpha = 1;
          graph.bulletBorderThickness = 2;
          graph.bulletSize = 7;
          graph.title = "ns";
          graph.lineThickness = 2;
          graph.lineColor = "#00BBCC";
          graph.clustered = true;
          chart2.addGraph(graph);

          // CURSOR
          var chartCursor = new AmCharts.ChartCursor();
          chartCursor.cursorPosition = "mouse";
          chart2.addChartCursor(chartCursor);


          // WRITE
          chart2.write("chartdiv2");

          var label = $("g[cursor=pointer]");
          if (label.length > 0) {
              var tspan = label.find('tspan');
              if (tspan.length > 0) {
                  label.remove();
              }
          }
      });

  </script>

</div>