<div id="drilling_overview">
  <div class="pull-right tooltip-info" data-title="ROP">
    <canvas id="canvas" height="110" width="270"></canvas>
  </div>

  <div class="chart-block tooltip-info"
       data-title="Average Total Rate of Penetration.">
    <div class="chart-title">Avg Total ROP</div>
    <div class="donut-chart-div job-donut-chart-div">
      <div class="donut-text "><%= drilling_log.nil? || drilling_log.rop.nil? ? "-" : drilling_log.rop.round(1) %></div>
      <div class="percentage ">ft/min</div>
    </div>
  </div>

  <div class="chart-block tooltip-info"
       data-title="Total feet drilled.">
    <div class="chart-title">Total Drilled</div>
    <div class="donut-chart-div job-donut-chart-div">
      <div class="donut-text "><%= drilling_log.nil? || drilling_log.total_drilled.nil? ? "-" : drilling_log.total_drilled.to_i %></div>
      <div class="percentage "><span class="push-right-small">ft</span></div>
    </div>
  </div>

  <div class="chart-block tooltip-info"
       data-title="Time in hours spent below the rotary table.">
    <div class="chart-title">Below Rotary</div>
    <div class="donut-chart-div job-donut-chart-div">
      <div class="donut-text "><%= drilling_log.nil? || drilling_log.below_rotary.nil? ? "-" : drilling_log.below_rotary.round(1) %></div>
      <div class="percentage ">hours</div>
    </div>
  </div>
</div>

<script>
    var lineChartData = {
        labels: ["", "", "", "", "", "", ""],
        datasets: [
            {
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                data: [0, 2, 30, 40, 30, 36, 30]
            }
        ]
    }

    var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);

</script>