<div class="remote-tray" data-tray="drilling-overview">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading overview..." %>
  </div>

  <div class="content tray-content content-loaded">
    <br>
    <%= render 'drilling_logs/overview_content' %>
  </div>
</div>



