<div id="drilling_bha" class="job-tray" data-tray="drilling-bha">

  <div class="drilling-bha-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading BHA totals..." %>
  </div>

  <div class="content">
    <br>

    <% bhas = Bha.where(:job_id => drilling_log.job_id).order("name ASC") %>
    <% if bhas.any? %>
        <% bhas.each do |bha| %>
            <div>
              <div class="page_header">
                <h1><%= bha.name %> - <%= bha.description %></h1>
              </div>
              <%= render 'drilling_logs/bha', bha: bha, drilling_log: drilling_log %>
              <br><br>
            </div>
        <% end %>
    <% else %>
        <p class='help-text'>No BHAs configured...</p>
    <% end %>
  </div>
</div>
