<div class="remote-tray" data-tray="drilling-rop">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading ROP Analysis..." %>
  </div>

  <div class='content tray-content content-loaded'>
    <br>

    <% if drilling_log.drilling_log_entries.any? %>
        <div class='center'>
          <div class="inline-block" style="width:10px;height:10px;background:#00BBCC;"></div>
          <b>Drilling</b>

          <div class="inline-block push-right-small" style="width:10px;height:10px;background:#223bf2;"></div>
          <b>Sliding</b>

          <div class="inline-block push-right-small" style="width:10px;height:10px;background:#f24922;"></div>
          <b>NPT</b>

          <div class="inline-block push-right-small" style="width:10px;height:10px;background:#f24922;border-radius:100px;"></div>
          <b>POOH</b>

          <div class="inline-block push-right-small" style="width:10px;height:10px;background:#ccf7ff;"></div>
          <b>Time (hrs)</b>

        </div>
        <div id="ropchart" style="width: 100%; height: 400px;"></div>

        <div id="wobchart" style="width: 100%; height: 120px;"></div>

        <div id="flowchart" style="width: 100%; height: 120px;"></div>

        <div id="rpmchart" style="width: 100%; height: 120px;"></div>

    <% else %>
        <p class='help-text'>No drilling log entries...</p>
    <% end %>
  </div>
</div>


