<div class="remote-tray" data-tray="maintenance">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading assets in maintenance..." %>
  </div>

  <div class="content tray-content content-loaded">

    <% part_redresses = PartRedress.includes(:part).where("parts.status = ?", Part::IN_REDRESS) %>
    <% parts = @parts.where(:status => Part::IN_REDRESS) %>

    <% parts_grouped = part_redresses.group_by { |pr| pr.received_at.to_date } %>

    <div class='well'>
      <h1 class="donut-text inline"><%= parts.count %></h1>

      <div class='inline-block push-down push-right-small'>
        <h3 class="inline-block">Assets</h3>
      </div>
    </div>

    <div id="parts" class="list">
      <% parts_grouped.each_with_index do |part_group, i| %>
          <h3><%= distance_of_time_in_words(Time.zone.now, part_group[1].first.received_at) %></h3>
          <hr>
          <% part_group[1].each_with_index do |part_redress, index| %>
              <%= render 'parts/sub_part2', part: part_redress.part, index: index, condensed: true, show_name: true %>
          <% end %>
          <br><br>
      <% end %>
    </div>

  </div>

</div>