.activity {
  font-size: 21px;

  margin: 20px;
  padding: 0px;

  border-style: dashed;
  border-width: 0px 0px 1px 0px;
  border-color: #ebebeb;
}

.activity-content {
  text-align: left;
  min-height: 100px;

  a {
    font-size: 13px;

    &:active, &:link, &:visited {
      color: #0058a8;
      background: transparent;
      text-decoration: none;
    }
    &:hover {
      color: #0058a8;
      background: transparent;
      text-decoration: underline;
    }
  }
}


.activity-avatar-box-small {
  min-width: 100px;
  min-height: 100px;
  float: left;
}


.activity-user-link {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  min-width: 200px;

  &:active, &:link, &:visited {
    color: #0058a8;
    background: transparent;
    text-decoration: none;
  }
  &:hover {
    color: #0058a8;
    background: transparent;
    text-decoration: underline;
  }
}

.activity-date {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 10px;
  font-size: 13px;
  font-style: italic;
  color: #b6b6b6;
}

.activity-message {
  display: inline-block;
  margin-right: 0px;
  margin-top: 10px;
  font-size: 13px;
  color: #555555;
}


.activity-document-name {
}


.activity-user-link-hover  {
  display: none;

  h2 {
    font-size: 14px;
    font-weight: bold;
    color: #0058a8;
    text-align: left;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.activity-user-link:hover + .activity-user-link-hover {
  width: 200px;
  height: 45px;
  margin-left: 80px;
  margin-top: -5px;
  padding: 5px;
  padding-left: 20px;
  background: #deebf7;
  box-shadow: 4px 4px 5px #888;;
  display: block;
  position: absolute;
}