


.no-alerts {
   margin-top: 40px;

  p {
    font-style: italic;
    color: #949494;
  }
}

.old-alerts-div {
  margin-top: 150px !important;
}


.alert-title {
  font-size: 14px;
  font-weight: bold;

}