.bha-column {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bha-value {
  min-width: 0px !important;
  width: 150px !important;
  height: 20px;
}

.bha-units {
    width: 30px !important;
    font-size: 13px;
  }


.bha-button {
  margin-left: 5px !important;
  margin-right: 0px !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}