// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clients {
  list-style: none;

  .client-header {
    font-size: 26px;
    line-height: 45px;
    padding: 5px 15px 5px 15px;

    &:active, &:link, &:visited {
      color: #666;
      background: transparent;
      text-decoration: no-underline;
    }
    &:hover {
      background: #1b65c1;
      border-radius: 5px;
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}