.bluebtn {
  min-width: 60px;
  padding: 5px 20px 5px 20px;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  text-shadow: 1px 1px 1px #000000;
  background: #0058a8;
  border-radius: 3px;
  border-width: 1px;
  border-color: #014583;
  font-size: 17px;
  font-family: "gothamboldregular";
  text-transform: uppercase;
  display: inline;

  &:link, &:visited, &:active {
    color: #FFF;
    background: #0058a8;
    text-decoration: none;
  }
  &:hover {
    background: #3790e0;
    border-color: #6cb4f6;
    text-decoration: none;
  }
}

.btnsmall {
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  padding: 3px 20px 3px 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: normal;
}

.red {

  color: #FFF;
  background: #ea4848;
  border-radius: 3px;
  border-width: 1px;
  border-color: #a50a0a;

  &:link, &:visited, &:active {
    color: #FFF;
    background: #ea4848;
    text-decoration: none;

  }
  &:hover {
    background: #f71818;
    border-color: #a50a0a;
    text-decoration: none;
  }
}

.pull-right-button {
  float: right;
  margin-right: 20px;
}

input[type=text] {
  padding-left: 10px;
}

.txtfield {
  min-height: 30px;
  min-width: 350px;
  padding-left: 15px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;

  &::-webkit-input-placeholder {
    color: #aaabab;
    font-size: 13px;
    font-weight: normal;
    font-family: "gothambookregular";
  }
  &:-moz-placeholder, -ms-input-placeholder {
    color: #aaabab;
    font-size: 13px;
    font-weight: normal;
    font-family: "gothambookregular";
  }
}

.small {
  min-width: 200px;
}

.delete-button {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  text-indent: -999px;
  display: inline-block;
  background: url(image_path('delete_up.png')) no-repeat 0 0;

  &:link, &:visited, &:active {
    background: url(image_path('delete_up.png')) no-repeat 0 0;
  }
  &:hover {
    background: url(image_path('delete_hover.png')) no-repeat 0 0;
  }
}


select {
  width: 160px !important;
  height: 40px !important;
  background: #ffffff !important;
  color: #4e4e4e !important;

  padding-left: 30px !important;
  font-weight: bold !important;
  font-size: 14px !important;

  text-indent: 5px !important;
}



.warning-text {
  color: #c71a1a !important;
}



.add-button {
  color: #595959;
  display: inline-block;
  heght: 50px;
  line-height: 50px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 20px;
  text-decoration: none;
  padding-left: 50px;
  background: url(image_path('add_up.png')) no-repeat center left;

  &:link, &:visited, &:active {
    background: transparent;
    color: #595959;
    text-decoration: none;
    background: url(image_path('add_up.png')) no-repeat center left;
  }
  &:hover {
    background: transparent;
    color: #0058a8;
    text-decoration: none;
    background: url(image_path('add_hover.png')) no-repeat center left;
  }
}