.bluebtn {
  min-width: 60px;
  padding: 5px 20px 5px 20px;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  text-shadow: 1px 1px 1px #000000;
  background: #0058a8;
  border-radius: 3px;
  border-width: 1px;
  border-color: #014583;
  font-size: 17px;
  text-indent: 0px;
  text-align: center;
  font-family: "gothamboldregular";
  text-transform: uppercase;
  display: inline-block;

  &:link, &:visited, &:active {
    color: #FFF;
    background: #0058a8;
    text-decoration: none;
  }
  &:hover {
    background: #3790e0;
    border-color: #6cb4f6;
    text-decoration: none;
  }
}

.gray {

  color: #505050;
  text-shadow: 0px 0px 0px #000000;
  background: #eaeaea;
  border-radius: 3px;
  border-width: 1px;
  border-color: #bcbcbc;

  &:link, &:visited, &:active {
    color: #575757;
    background: #eaeaea;
    border-color: #d6d6d6;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;

  }
  &:hover {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    background: #696969;
    border-color: #2f4f4f;
    text-decoration: none;
  }
}

.btnheight {
  height: 42px !important;
  line-height: 40px;
}

.btnsmall {
  border-radius: 3px;
  height: 40px !important;
  vertical-align: top !important;
  padding: 0px 20px 3px 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
}

.btn-fix {
  margin-top: 3px;
   height: 38px !important;
}

.red {

  color: #FFF;
  background: #ea4848;
  border-radius: 3px;
  border-width: 1px;
  border-color: #a50a0a;

  &:link, &:visited, &:active {
    color: #FFF;
    background: #ea4848;
    text-decoration: none;

  }
  &:hover {
    background: #f71818;
    border-color: #a50a0a;
    text-decoration: none;
  }
}

.green {

  color: #FFF;
  background: #2fad1e;
  border-radius: 3px;
  border-width: 1px;
  border-color: #259316;

  &:link, &:visited, &:active {
    color: #FFF;
    background: #2fad1e;
    text-decoration: none;

  }
  &:hover {
    background: #1c7b0f;
    border-color: #397031;
    text-decoration: none;
  }
}

.pull-right-button {
  float: right;
  margin-right: 20px;
}

input[type=text] {
  padding-left: 10px;
}

.txtfield {
  min-height: 30px;
  min-width: 350px;
  padding-left: 15px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;

  &::-webkit-input-placeholder {
    color: #aaabab;
    font-size: 13px;
    font-weight: normal;
    font-family: "gothambookregular";
  }
  &:-moz-placeholder, -ms-input-placeholder {
    color: #aaabab;
    font-size: 13px;
    font-weight: normal;
    font-family: "gothambookregular";
  }
}

.small {
  min-width: 200px;
}

.large {
  font-size: 40px;
  height: 60px;
}

.delete-button {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  text-indent: -10000px;
  display: inline-block;
  background: url(image_path('delete_up.png')) no-repeat 0 0;

  &:link, &:visited, &:active {
    background: url(image_path('delete_up.png')) no-repeat 0 0;
  }
  &:hover {
    background: url(image_path('delete_hover.png')) no-repeat 0 0;
  }
}

.delete-button-small {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  border: 0;
  text-indent: -10000px;
  display: inline-block;
  background: url(image_path('delete_small_up.png')) no-repeat 0 0;
  background-size: contain;

  &:link, &:visited, &:active {
    background: url(image_path('delete_small_up.png')) no-repeat 0 0;
  }
  &:hover {
    background: url(image_path('delete_small_hover.png')) no-repeat 0 0;
  }
}


select {
  width: 200px !important;
  height: 40px !important;
  background: #ffffff !important;
  color: #4e4e4e !important;

  padding-left: 30px !important;
  font-weight: bold !important;
  font-size: 14px !important;

  text-indent: 5px !important;
}


.warning-text {
  color: #c71a1a !important;
}

.good-text {
  color: #2fad1e !important;
}



.add-button {
  color: #595959;
  display: inline-block;
  heght: 50px;
  line-height: 50px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 20px;
  text-decoration: none;
  padding-left: 50px;
  background: url(image_path('add_up.png')) no-repeat center left;

  &:link, &:visited, &:active {
    background: transparent;
    color: #595959;
    text-decoration: none;
    background: url(image_path('add_up.png')) no-repeat center left;
  }
  &:hover {
    background: transparent;
    color: #0058a8;
    text-decoration: none;
    background: url(image_path('add_hover.png')) no-repeat center left;
  }
}


.star-button {
  text-indent: -10000px;
  overflow: hidden;
  background: transparent;
  display: inline-block;
  height: 35px;
  width: 35px;
  text-decoration: none;
  background: url(image_path('rating_star_unfilled.png')) no-repeat top left;

  &:link, &:visited, &:active {
    background: transparent;
    text-decoration: none;
    background: url(image_path('rating_star_unfilled.png')) no-repeat top left;
  }
  &:hover {
    background: transparent;
    text-decoration: none;
    background: url(image_path('rating_star_filled.png')) no-repeat top left;
  }
}

.star-button-filled {
  background: url(image_path('rating_star_filled.png')) no-repeat top left;
  &:link, &:visited, &:active {
    background: url(image_path('rating_star_filled.png')) no-repeat top left;
  }
}

.star-button-hover {
  background: url(image_path('rating_star_filled.png')) no-repeat top left;
  &:link, &:visited, &:active {
    background: url(image_path('rating_star_filled.png')) no-repeat top left;
  }
}



.move-up {
  margin-top: -5px !important;
}


.custom-select {
  height: 30px;
  padding-left: 10px !important;
  line-height: 30px;
  font-size: 14px;
  font-weight: normal;
  background: #FFFFFF url(image_path('drop_down_arrow.png')) no-repeat 95% 50% !important;
  width: 200px !important;
  overflow: hidden;
  text-wrap: none;
}

.custom-select-long {
  width: 500px !important;
}




.regular-checkbox {
  display: none !important;
}

.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
  background-color: #d9edf7;
  border: 1px solid #0058a8;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 18px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #0058a8;
}


.big-checkbox + label {
  padding: 18px;
}

.big-checkbox:checked + label:after {
  font-size: 28px;
  left: 6px;
}

.tag {
  font-family: Arial, sans-serif;
  width: 200px;
  position: relative;
  top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: left;
}

.radio-1 {
  width: 193px;
}

.button-holder {
  float: left;
}

/* RADIO */

.regular-radio {
  display: none;
}

.regular-radio + label {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
}

.regular-radio:checked + label:after {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  background: #99a1a7;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
  text-shadow: 0px;
  left: 3px;
  font-size: 32px;
}

.regular-radio:checked + label {
  background-color: #e9ecee;
  color: #99a1a7;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.big-radio + label {
  padding: 16px;
}

.big-radio:checked + label:after {
  width: 24px;
  height: 24px;
  left: 4px;
  top: 4px;
}