@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

.ui-helper-hidden-accessible {
  display: none;
}

ul.ui-autocomplete {
  position: absolute;
  min-width: 500px;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;

  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;

    a {
      background: #FFFFFF;
      color: #000;
      display: block;
      padding: 3px;

      &.ui-state-hover, &.ui-state-active {
        background-color: #0058a8 !important;
        color: #FFFFFF !important;

      }

      &:link, &:visited, &:active {
        color: #FFFFFF;
        text-transform: none;
      }
      &:hover, &:focus {
        background-color: #0058a8 !important;
        color: #FFFFFF !important;
        text-decoration: none;
      }

    }

  }
}

input[type='text'].ui-autocomplete-loading {
  background: url(image_path('ajax-loader.gif')) no-repeat 95% 50% !important;
}

input[type='text'].ui-autocomplete-typing {
  color: #4d4d4d;
  font-weight: bold;
  font-size: 16px;
}

.ui-autocomplete-bad {
  background: #fbd2d2 url(image_path('error_red.png')) no-repeat 95% 50% !important;
}

.ui-state-hover {
  a {
    background-color: #6cb4f6 !important;
    color: #000000 !important;
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;

}

body {
  padding-top: 80px;

}

.alert-error2 {
  background: #ff0000;
  color: #ffffff;

}

.email-body {
  padding-top: 15px !important;
  margin-left: 15px !important;
}

.body {
  background: #FFFFFF;
  font-family: "gothammediumregular" !important;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

header {
  min-width: 1050px !important;
}

.placeholder {
  font-size: 14px;
  font-weight: normal;
  color: #8c8c8c;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container {
  padding-top: 10px;
}

.container-header {

  padding: 0px;
  height: 58px;
  line-height: 58px;

  @media screen and (max-width: 1110px) {
    margin-left: 10px;
  }
}

.inline {
  display: inline;
}

.search-box {
  line-height: 50px;
  margin-right: 20px;
  float: right;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.help-text {
  font-style: italic;
  color: #949494;
}

.inline-text-scroll {
  height: 346px;
  overflow: scroll;
}

/* header */

.navbar {
  @media only screen and (max-device-width: 768px) {
    position: absolute !important;
    min-width: 1050px !important;
  }
}

.header-v-center {
  padding-top: 8px;
}

#logo {
  background-image: url(image_path('elephant-logo.png'));
  background-repeat: no-repeat;
  background-position: 9px 2px;
  width: 140px;
  height: 58px;
  float: left;
  margin-right: 10px;
  margin-top: 0px;
  margin-left: -10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  line-height: 1;
  text-indent: -2000px;
  overflow: hidden;

  @media screen and (max-width: 1050px) {
    width: 130px;
    background-position: 0px 2px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.admin_tab {
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
  height: 58px;
  line-height: 58px;
  display: inline-block;

  .current {
    background: url(image_path('nav_selected.png'));
    color: white;
  }

  @media screen and (max-width: 1250px) {
    margin-left: 10px;
  }
}

.admin_tab li {
  display: inline-block;
  height: 58px;
  line-height: 58px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-transform: none;

  &:link, &:visited, &:active {
    color: #FFFFFF;
    text-transform: none;
  }
  &:hover {
    background: #0058a8;
    text-transform: none;
  }

}

.admin_tab a {

  padding: 20px 18px 20px 18px;
  height: 58px;
  line-height: 58px;
  text-transform: none;

  &:link, &:visited, &:active {
    color: #FFFFFF;
    text-decoration: none;
  }

  &:hover {
    background: #0058a8;
    text-decoration: none;
  }

  @media screen and (max-width: 1050px) {
    padding: 20px 15px 20px 15px;
  }
}

.home_tab {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  li {
    display: inline;
    overflow: auto;
    padding: 6px 10px;
    border-left: 1px solid $grayLighter;
    &:first-child {
      border-left: 0px
    }
  }
  .current {
    background: #6b6b6b;
    border-radius: 5px;
    color: white;
  }

  @media screen and (max-width: 1250px) {
    margin-left: 10px;
  }
}

.messages-icon-container {
  display: inline-block;
  width: 55px;
  margin-right: 8px;
}

.alerts-icon-container {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 45px;
  height: 58px;
  margin-left: 232px;

  @media screen and (max-width: 1050px) {
    margin-left: 195px;
  }
}


.messages-icon-link {
  width: 45px;
  height: 58px;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  text-indent: -10000px;

  background: url(image_path('messages.png')) center center no-repeat;

  &:hover {
    background: #0058a8 url(image_path('messages.png')) center center no-repeat;
  }
}

.messages-icon-alert {

  position: relative;

  display: inline-block;
  float: right;

  pointer-events: none;

  left: -6px;
  top: -50px;
  margin: 0px;
  width: 19px;
  height: 19px;
  background: #0058a8;
  border-radius: 15px;
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  text-shadow: 1px 1px 1px #000000;

  p {
    top: -20px;
    left: 5px;
    width: 22px;
    height: 22px;
    margin: 0px;
    padding: 0px;
    position: relative;
    display: inline-block;
    color: #FFFFFF;
  }

}

.advanced-search-link {
  line-height: 15px;
  display: inline-block;
  font-size: 12px;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  text-transform: none;

  margin-left: 6px;
  display: inline-block;
  width: 60px;
  height: 50px;
  vertical-align: top;
  padding-top: 15px;


  &:link, &:visited, &:active {
    background: transparent;
    color: #9d9d9d;
    text-decoration: none;
  }

  &:hover {
    background: transparent;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.dropdown-toggle {

  opacity: .9;
  &:hover {
    opacity: 1;
  }
}

.menu-width {
  min-width: 150px;
}

.menu-width2 {
  min-width: 200px;
}

.user-name {
  color: #FFFFFF;
  margin: 0px;
  display: block;

  @media screen and (max-width: 1350px) {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.user-title {
  color: #b1b1b1;
  margin: 0px;
  margin-top: -4px;
  display: block;
  font-size: 10px;
}

.dropdown-toggle {
  margin-top: -5px;
}

.caret {
  margin-right: 6px;
  opacity: 1;
  border-top-color: #1386ef !important;
}

.menu-avatar {
  height: 35px;
  line-height: 35px;
  vertical-align: middle;

  span {
    height: 35px;
    line-height: 35px;
    vertical-align: top;
    vertical-position: 20px;
  }
}

.long-column-text {
  width: 500px !important;
}

.right-menu {
  float: right;
}

.global-search {
  width: 200px !important;

  @media screen and (max-width: 1310px) {
    width: 100px !important;
  }
}

/* footer */

footer {
  margin-top: 150px;
  border-bottom: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}




