@import "bootstrap";


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;
}

.body {
  background: #FFFFFF;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container {
  padding-top: 10px;
}

.container-header {
  padding: 0px;
  height: 58px;
  line-height: 58px;
}

.inline {
  display: inline;
}

.search-box {
  line-height: 50px;
  margin-right: 20px;
  float: right;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.header-v-center {
  height: 58px;
  line-height: 58px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#logo {
  background-image: url(image_path('elephant-logo.png'));
  background-repeat:no-repeat;
  background-position: 9px 2px;
  width: 140px;
  height: 58px;
  float: left;
  margin-right: 10px;
  margin-top: 0px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  line-height: 1;
  text-indent: -2000px;
  overflow: hidden;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}



.admin_tab {
  margin: 0px;
  padding: 0px;
  margin-left: 40px;
  height: 58px;
  line-height: 58px;
  display: inline-block;

  .current {
    background: url(image_path('nav_selected.png'));
    color: white;
  }
}

.admin_tab li {
  display: inline-block;
  height: 58px;
  line-height: 58px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: none;

  &:link, &:visited, &:active  {
    color: #FFFFFF;
    text-transform: none;
  }
  &:hover {
    background: #0058a8;
    text-transform: none;
  }

}

.admin_tab a {

  padding: 0px 0px 20px 0px;
  height: 58px;
  line-height: 58px;
  text-transform: none;

  &:link, &:visited, &:active  {
    color: #FFFFFF;
    text-decoration: none;
  }

  &:hover {
    background: #0058a8;
    text-decoration: none;
  }
}



.home_tab {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  li {
    display: inline;
    overflow: auto;
    padding: 6px 10px;
    border-left: 1px solid $grayLighter;
    &:first-child {
      border-left: 0px
    }
  }
  .current {
    background: #6b6b6b;
    border-radius: 5px;
    color: white;
  }
}


.messages-link {
  width: 45px;
  height: 58px;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  text-indent: -10000px;

  background: url(image_path('messages.png')) center center no-repeat;
}


.right-menu {
  float: right;
}


/* footer */

footer {
  margin-top: 150px;
  border-bottom: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}




