


.upload-document-container {
  display: inline-block;
}

.file-input {
  position: absolute;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 1;
  width: 1px;
  height: 1px;
}

.browse-doc {
  position: absolute;
  z-index: 2;
}

.document-name {
  color: #0058a8;
  font-size: 21px !important;
  display: inline-block;
  min-width: 250px;

  &:link, &:visited, &:active {
    background: transparent;
    color: #0058a8;
    text-decoration: underline;
  }
  &:hover {
    background: transparent;
    color: #273542;
  }
}

.document-name-container {
  color: #0058a8;
  font-size: 21px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  text-indent: 0px;
  min-width: 250px;
}

.document-modified {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  text-indent: 0px;
  min-width: 200px;
}

.document-file-name {
  color: #666666;
  font-size: 12px;
  font-style: italic;
  font-weight: lighter;
}

.document-file-name-box {
  min-width: 220px;
  display: inline-block;
}

.document-upload-button {
  color: #0058a8;
  font-size: 15px;
  margin-left: 25px;
  margin-right: 20px;
  text-decoration: none;
  padding-right: 20px;
  background: url(image_path('upload_arrow.png')) no-repeat center right;

  &:link, &:visited, &:active {
    background: transparent;
    color: #0058a8;
    text-decoration: none;
    background: url(image_path('upload_arrow.png')) no-repeat center right;
  }
  &:hover {
    background: transparent;
    color: #273542;
    text-decoration: none;
    background: url(image_path('upload_arrow.png')) no-repeat center right;
  }
}

#document_type_select {

  padding: 0px;
  padding-right: 20px;
  margin: 0px;
  margin-left: 15px;
  border-radius: 3px;
  border-color: #bbbbbb;
  border-width: 1px;
  border-style: solid;
  background: #FFFFFF url(image_path('drop_down_arrow.png')) no-repeat center right;
  text-indent:10px;

  height: 38px;
  line-height: 43px;
  width: 150px;


  display: inline-block;
}

#document_type_select select {
  opacity: 0;
}


.upload {
  display: inline-block;
  width: 300px;
  height: 15px;
}

