


.upload-document-container {
  display: inline-block;
}

.file-input {
  cursor: pointer;
  position: absolute;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 1;
  width: 1px;
  height: 0px;
}

.browse-doc {
  position: absolute;
  z-index: 2;
}

.document-name {
  color: #0058a8;
  font-size: 18px !important;
  display: inline-block;
  width: 220px;
  height: 35px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;


  &:link, &:visited, &:active {
    background: transparent;
    color: #0058a8;
    text-decoration: underline;
  }
  &:hover {
    background: transparent;
    color: #273542;
  }
}

.document-name-container {
  color: #0058a8;
  font-size: 21px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  text-indent: 0px;
  width: 220px;
  height: 35px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.document-modified {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  text-indent: 0px;
  min-width: 200px;
}

.document-modified2 {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  text-indent: 0px;
  min-width: 250px;
}

.document-user {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  text-indent: 0px;
  min-width: 100px;
}

.document-file-name {
  width: 220px;
  color: #666666;
  font-size: 12px;
  font-style: italic;
  font-weight: lighter;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.document-file-name-box {
  width: 210px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.document-upload-button {
  cursor: pointer;
  color: #0058a8;
  font-size: 15px;
  margin-left: 25px;
  margin-right: 10px;
  text-decoration: none;
  padding-right: 20px;
  background: transparent url(image_path('upload_arrow.png')) no-repeat center right;
  z-index: 999;

  &:link, &:visited, &:active {
    background: transparent;
    color: #0058a8;
    text-decoration: none;
    background: transparent url(image_path('upload_arrow.png')) no-repeat center right;
  }
  &:hover {
    cursor: pointer;
    background: transparent;
    color: #273542;
    text-decoration: none;
    background: transparent url(image_path('upload_arrow.png')) no-repeat center right;
  }
}

.document-upload-button-container {
  cursor: hand;
}

.order-button {
  width: 32px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  text-indent: -10000px;
  display: inline-block;
  background: url(image_path('order_up.png')) no-repeat 0 0;

  &:link, &:visited, &:active {
    background: url(image_path('order_up.png')) no-repeat 0 0;
  }
  &:hover {
    background: url(image_path('order_up.png')) no-repeat 0 0;
  }
}

#document_type_select {

  padding: 0px;
  padding-right: 20px;
  margin: 0px;
  margin-left: 15px;
  border-radius: 3px;
  border-color: #bbbbbb;
  border-width: 1px;
  border-style: solid;
  background: #FFFFFF url(image_path('drop_down_arrow.png')) no-repeat center right;
  text-indent:10px;

  height: 38px;
  line-height: 43px;
  width: 150px;


  display: inline-block;
}

#document_type_select select {
  opacity: 0;
}


.upload {
  display: inline-block;
  width: 300px;
  height: 15px;
}

.upload-metadata {
  margin-left: 0px;
}

.document-field {
  height: 45px;
  margin-bottom: 0px !important;
}

.document-status {
  display: inline-block;
  width: 30px;
}

.document-info {
  display: inline-block;
  min-width: 450px !important;
}


.document-user-link {
  display: inline-block;
  margin-right: 0px;
  font-size: 14px;

  &:active, &:link, &:visited {
    color: #0058a8;
    background: transparent;
    text-decoration: none;
  }
  &:hover {
    color: #0058a8;
    background: transparent;
    text-decoration: underline;
  }
}


.add-custom-document {
  color: #bfccd7;
  display: inline-block;
  heght: 40px;
  line-height: 40px;
  font-size: 13px;
  margin: 0px;
  margin-right: 10px;
  text-decoration: none;
  padding-right: 50px;
  background: url(image_path('add_up.png')) no-repeat center right;

  &:link, &:visited, &:active {
    background: transparent;
    color: #bfccd7;
    text-decoration: none;
    background: url(image_path('add_up.png')) no-repeat center right;
  }
  &:hover {
    background: transparent;
    color: #0058a8;
    text-decoration: none;
    background: url(image_path('add_hover.png')) no-repeat center right;
  }
}

.custom-document-footer {
  margin-top: 20px;
  height: 50px;
}