// Place all the styles related to the dynamic_fields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.dynamic-field-name {
  width: 235px;
  display: inline-block;


  label {
    color: #0058a8;
    font-size: 19px !important;
  }
}


.dynamic-field-type {
  width: 200px;
  display: inline-block;

  label {
    color: #868686;
    font-size: 16px !important;
  }
}

.edit-dynamic-field-name {
  color: #0058a8;
  font-size: 18px !important;
  display: inline-block;
  margin-right: 30px;
  height: 35px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;


  &:link, &:visited, &:active {
    background: transparent;
    color: #0058a8;
    text-decoration: underline;
  }
  &:hover {
    background: transparent;
    color: #273542;
  }
}

.dynamic-field-summary-div {
  font-size: 16px;
  display: inline-block;
  width: 230px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

