.error-page {


  img {
    display: inline-block;
    margin-top: 170px;
    margin-right: 26px;
  }

  .message {
    display: inline-block;
  }

  h1 {
    text-align: left;
    font-size: 25px;
    color: #000000;
    margin: 0px;
  }

  p {
    text-align: left;
    font-size: 21px;
    color: #2f4f4f;
    margin: 0px;
  }
}