.job-failure-item {
  margin-left: 10px;
  font-size: 15px;
  display: inline;
  color: #e4472e
}

.chart-block-extended {
  width: 400px !important;
}

.chart-block-extended2 {
  width: 300px !important;
}

.failure-checkbox-div {
  margin-left: 5px;
  margin-right: 18px;
}

.failure-checkbox-text {
  margin-top: 8px;
}

.failure-page-header {
  padding-bottom: 0px !important;

  p {
    margin-top: 5px;
    color: #0058a8;
    line-height: 10px !important;
  }
}

.rating-level {
  height: 20px;
  line-height: 20px;
  display: inline-block;

  p {
    color: #adadad;
    vertical-align:bottom;
    display: inline;
  }
}