.page_header {
  width: 100%;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #e6e6e6;
  margin: 10px 0px 10px 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: left;
  line-height: 25px;

  h1 {
    color: #0058a8;
    display: inline;
  }

  h2 {
    display: inline;
    margin-left: 20px;
    font-style: italic;
  }
}

.page_header_button {
  margin-top: 0px;
  float: right;
}

.page-title {
  color: #0058a8;
}

.field-title {
  color: #0058a8;
  display: inline-block;
  font-weight: bold;
  min-width: 140px;
  margin-right: 0px;
}

.field-title:after {
  content: url(image_path('field_arrow.png')) no-repeat;
  margin-left: 15px;
  margin-right: 20px;
  float: right;
}

.header {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background: #e5f2ff;
  border-radius: 3px;
  width: 100%;
  text-indent: 25px;
  text-align: left;
  height: 50px;
  line-height: 50px;
  display: inline-block;
}

.content {
  margin: 20px 20px 20px 20px;
}

.header h2 {
  color: #0b3365;
  font-size: 21px;
  line-height: 50px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  display: inline;
}

.header p {
  color: #768598;
  font-size: 14px;
  line-height: 50px;
  font-style: italic;
  margin: 0px 20px 0px 20px;
  display: inline-block;
}

.field {
  line-height: 40px;
  min-height: 40px;

  font-size: 21px;

  margin: 0px;
  padding: 0px;

  border-style: dashed;
  border-width: 0px 0px 1px 0px;
  border-color: #ebebeb;

  label {
    font-size: 15px;
    display: inline-block;
    padding: 10px;
    margin: 0px;
  }

  input, select {
    margin-left: 10px;
    display: inline-block;
    margin-top: 4px;
  }
}

.b-label {
  color: #0058a8;
  width: 150px;
  display: inline-block;

}

/*.stripe:nth-child(even) {
  background: #fAfAfA;
} */

.push-right {
  margin-left: 50px;
  display: inline;
}

.inline {
  display: inline;
}

.inline-form form {
  display: inline;
  width: 200px;
}

.inline-form {
  line-height: 40px;
}

.list {
  margin: 0px;
  list-style: none;
}

.list-item-header {
  width: 97%;
  height: 50px;
  font-size: 26px;
  line-height: 45px;
  padding: 5px 15px 5px 15px;

  &:active, &:link, &:visited {
    color: #666;
    background: transparent;
    text-decoration: no-underline;
  }
  &:hover {
    background: #0058a8;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.list-item-header-text {
  font-size: 26px;
  line-height: 45px;

}

.list-item-column {
  width: 400px;
  line-height: 30px;
  display: inline-block;
}

.list-item-column2 {
  width: 200px;
  line-height: 30px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.list-item-text {
  font-size: 18px;
  display: inline-block;
}


.modal-popup-background {
  visibility: hidden;
  background: rgba(1, 1, 1, 0.7);
  z-index: 100;
  border-radius: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 0px;
  position: absolute;
}

.modal-popup {
  box-shadow: 1px 1px 15px rgba(1, 1, 1, .7);
  background: white;
  border-radius: 10px;
  margin: auto;
  padding: 50px;
  padding-bottom: 100px;
  display: block;
  margin-top: 120px;
  margin-bottom: 1000px;
  max-width: 600px;
}



.modal-popup-close {
  position: relative;
  float: right;
  display: inline-block;
  right: -40px;
  top: -40px;
}

.submit {
  height: 40px;
}

.disabled {
  pointer-events: none;
  opacity: .3;
}


.hidden {
  display: none;
}


.modal-header {
  min-height: 40px;


  h2 {
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 20px;
    text-align: left;
    font-weight: bold;
  }
}

.modal-body {
  min-height: 70px;

  p {
    margin-top: 10px;
    margin-left: 7px;
    font-size: 14px;
  }
}

.modal-footer {
  line-height: 50px;

  button {
    height: 40px;
  }
}