.new-job-member {
  background: #f4f8fb;
  border-radius: 4px;
  padding: 16px 20px 8px 20px;
}

.member-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 250px;
  background: #cfcfcf;

  p {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 6px;
    font-family: "gothambookregular";
    text-align: center;
  }
}

.member-icon-link {
  &:link, &:visited, &:active {
    background: transparent;
  }
  &:hover {
    background: transparent;
  }
}

.member-icon-large {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 250px;
  background: #cfcfcf;
  margin-top: 20px;
  position: relative;

  p {
    font-size: 26px;
    color: #FFFFFF;
    margin-top: 27px;
    font-family: "gothamlightregular";
    text-align: center;
  }
}

.member-icon-image {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 41px;
  height: 41px;
  margin-right: -10px;
  margin-bottom: -10px;
}

.member-icon-image-function {
  display: block;
  position: absolute;
  left: 0px;
  top: 0;
  width: 41px;
  height: 41px;
  margin-left: -10px;
  margin-top:  -10px;
}

.member-icon-image-field {
  background: transparent url(image_path('icon_field.png')) no-repeat;
}

.member-icon-image-coordinator {
  background: transparent url(image_path('icon_coordinator.png')) no-repeat;
}

.member-icon-image-shop {
  background: transparent url(image_path('icon_shop.png')) no-repeat;
}

.member-icon-image-manager {
  background: transparent url(image_path('icon_manager.png')) no-repeat;
}

.member-icon-image-user {
  background: transparent url(image_path('icon_user.png')) no-repeat;
}

.member-tooltip {
  background: #535353;
  padding: 3px;
  border-radius: 3px;
}

.member-icon-shop {
  background: #46a6de;
}

.member-icon-coordinator {
  background: #ace8ef;
}

.member-icon-tool-coordinator {
  background: #148d9c;
}

.member-icon-field {
  background: #78919a;
}

.member-icon-manager {
  background: #9ae9ce;
}


.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}