


.job-notes-text {
  width: 830px;
  height: 50px;
  font-size: 14px;
}

.job-note-options {
  width: 50px;
  display: inline-block;
  margin-top: -5px;
}

.job-notes-type-select {
  height: 30px;
  line-height: 30px;
  font-size: 15px;

}


.job-notes-type {
  display: block;
  float: right
}

.job-note-assign {
  margin-bottom: 5px;

}

.add-job-note {
  margin-top: 42px !important;
  min-width: 100px !important;
}

.job-note-assign-arrow {
  margin-left: 8px;
  margin-right: 8px;
}

.job-note-task {
  float: left;
  height: 100px;
  width: 10px;
  background: #deebf7;
  margin-left: -25px;
}

.job-note-task-box {
  display: inline-block;
  background: #a0cef9;
  width: 10px;
  height: 10px;
  corner-radius: 250px;
}


.job-note-warning {
  float: left;
  height: 100px;
  width: 10px;
  background: #eace35;
  margin-left: -25px;
}

.job-note-warning-box {
  display: inline-block;
  background: #eace35;
  width: 10px;
  height: 10px;
  corner-radius: 250px;
}

.job-note-error {
  float: left;
  height: 100px;
  width: 10px;
  background: #f0210b;
  margin-left: -25px;
}

.job-failure {
  float: left;
  height: 35px;
  width: 10px;
  background: #f0210b;
  margin-left: -25px;
}

.job-failure-image {
  margin-bottom: -5px !important;
}


.job-note-comment-box {
  width: 300px !important;
}
