


.job-notes-text {
  margin-left: 10px;
  width: 550px;
  height: 30px;
  font-size: 14px;
}


.job-note-warning {
  float: left;
  height: 100px;
  width: 10px;
  background: #eace35;
}

.job-note-error {
  float: left;
  height: 100px;
  width: 10px;
  background: #f0210b;
  margin-left: -25px;
}