// Place all the styles related to the job_templates_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.product-line {

  margin-top: 20px;
  margin-bottom: 20px;

  p {
    vertical-align: 30%;
  }
}


.product-line-header {

  padding-top: 15px;
  padding-bottom: 15px;
  background: transparent;
  border-width: 0px;
  font-size: 25px;
  box-shadow: 0;
  color: #0058a8 !important;
  font-weight: bold;
}

.job-type-count {
  padding: 0px;
  margin: 0px;
  display: inline;
  font-style: italic;
  color: #ababab;
  pointer-events: none;
}

.job-template {
  list-style: none;
  margin-left: 40px;
  margin-top: 20px;
  line-height: 30px;
}

.btnheader {
  height: 35px;
  line-height: 35px;
  padding: 7px 20px 7px 20px;
  margin-left: 10px;
  margin-right: 10px;
  background: #5696d0;
  font-size: 14px;
  font-weight: normal;

  &:link, &:visited, &:active {
    background: #9cc5ea;
    color: #10416d;
    text-shadow: 0px 0px 0px #000000;
  }
  &:hover {
    background: #3790e0;
    border-color: #6cb4f6;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
  }
}

.job-type-header {
  padding-left: 35px;
}

.push-right-delete {
  margin-left: 20px;
}

.document-section-header {

  margin: 0px 20px 0px 20px;
  padding: 10px 0px 10px 0px;
  background: transparent;
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #b0b0b0;
  font-size: 18px;
  color: #747474;
  font-weight: bold;
}


.job-description-text {
  margin-left: 0px;
  margin-top: 0px;
  width: 800px;
  height: 65px;
  font-size: 14px;
}

.job-template-name-width {
  width: 800px;
}