.job-title {
  color: #0058a8;
  font-weight: bold;
  font-size: 30px;

  &:active, &:link, &:visited {
    color: #0058a8;
    background: transparent;
    text-decoration: none;
  }
  &:hover {
    color: #0058a8;
    background: transparent;
    text-decoration: underline;
  }
}

.job-title-divider {
  display: inline;
  font-size: 23px;
  line-height: 30px;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 10px;
  color: #d1d1d1;
}

.job-field-title {
  color: #b9b9b9;
  font-size: 12px;
  display: inline-block;
  font-style: italic;
  min-width: 140px;
  margin-right: 0px;
}

.job-field-value {
  display: inline-block;
  min-width: 250px;
  margin-right: 0px;
}

.job-field-value-link {
  display: inline-block;
  margin-right: 0px;

  &:active, &:link, &:visited {
    color: #000000;
    background: transparent;
    text-decoration: none;
  }
  &:hover {
    color: #0058a8;
    background: transparent;
    text-decoration: underline;
  }
}

.blue {
  color: #0058a8;

  &:active, &:link, &:visited {
    color: #0058a8;
  }
}

.job-field-value-editable {
  display: inline-block;
  min-width: 215px;
  margin-right: 0px;
  margin-right: 20px;
  border-width: 0px 0px 1px 0px;
  border-style: dotted;
  border-color: #ebedee;
  text-decoration: none;
  font-weight: bold;

  &:active, &:link, &:visited {
    background: transparent;
    border-color: transparent;
    text-decoration: none;
  }
  &:hover {
    background: #eff0f1;
    color: #0058a8;
    border-color: #0058a8;
    text-decoration: none;
  }
}

.job-field-edit {
  display: inline-block;
  min-width: 250px;
  margin-right: 0px;
  padding: 0px;
  text-decoration: none;
  color: #0058a8;

  &:active, &:link, &:visited {
    background: transparent;
    text-decoration: none;
  }
  &:hover {
    color: #0058a8;
    background: transparent;
    text-decoration: underline;
  }
}

.job-link {
  background: transparent;
  width: 97%;
  padding: 5px 15px 15px 15px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  &:active, &:link, &:visited {
    background: transparent;
    text-decoration: none;
  }
  &:hover {
    color: #000000;
    background: #deebf7;
    border-radius: 5px;
    text-decoration: none;
  }
}

.status-good {
  color: #2fad1e;
}

.custom-data-toggle {
  color: #0058a8;
  background: transparent;
  padding: 5px 20px 5px 0px;
  margin-bottom: 10px;
  display: inline-block;
  background: url(image_path('drop_arrow.png')) no-repeat center right;

  &:active, &:link, &:visited {
    color: #0058a8;
    background: transparent;
    text-decoration: none;
    background: url(image_path('drop_arrow.png')) no-repeat center right;
  }
  &:hover {
    color: #000000;
    background: #deebf7;
    border-radius: 5px;
    text-decoration: none;
    background: url(image_path('drop_arrow.png')) no-repeat center right;
  }
}

.custom-data-open {

}

.custom-data-closed {
  display: none;
}


ul.ui-autocomplete {
  position: absolute;
  min-width: 500px;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #e5f2ff;
    }

  }
}

.job-user {
  margin-left: 8px;
}

.job-user-title {
  display: inline-block;
  width: 300px;
}

.job-user-district {
  display: inline-block;
}