
.job-title {
  color: #0058a8;
}

.job-field-title {
  color: #b9b9b9;
  font-size: 12px;
  display: inline-block;
  font-style: italic;
  min-width: 140px;
  margin-right: 0px;
}

.job-field-value {
  display: inline-block;
  min-width: 250px;
  margin-right: 0px;
}


.job-link {
  background: transparent;
  width: 97%;
  padding: 0px 15px 15px 15px;
  display: block;

  &:active, &:link, &:visited {
    background: transparent;
    text-decoration: none;
  }
  &:hover {
    color: #000000;
    background: #deebf7;
    border-radius: 5px;
    text-decoration: none;
  }
}

.status-good {
  color: #2fad1e;
}

.custom-data-toggle {
  color: #0058a8;
  background: transparent;
  padding: 5px 20px 5px 0px;
  display: inline-block;
  background: url(image_path('drop_arrow.png')) no-repeat center right;

  &:active, &:link, &:visited {
    color: #0058a8;
    background: transparent;
    text-decoration: none;
    background: url(image_path('drop_arrow.png')) no-repeat center right;
  }
  &:hover {
    color: #000000;
    background: #deebf7;
    border-radius: 5px;
    text-decoration: none;
    background: url(image_path('drop_arrow.png')) no-repeat center right;
  }
}

.custom-data-open {

}

.custom-data-closed {
  display: none;
}