.login .input-controls {
  border-radius: 0px;
  height: 48px;
  width: 305px;
  padding: 0px 10px 0px 10px;
  background: rgba(255, 255, 255, 1.0);
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 25px;
  display: block;

  color: #1e1e1e;
  font-size: 16px;
  font-family: "gothammediumregular";

}

.login input::-webkit-input-placeholder {
  color: #aaabab;
  font-size: 15px;
  font-style: italic;
  font-family: "gothambookregular";
}

.login input:-moz-placeholder {
  color: #aaabab;
  font-size: 15px;
  font-style: italic;
  font-family: "gothambookregular";
}

.login input:-ms-input-placeholder {
  color: #aaabab;
  font-size: 15px;
  font-style: italic;
  font-family: "gothambookregular";
}

.body-non-signed-in {
  margin: 0px;
  padding: 0px;

  background: #f6f6f6;
  top: 0;
  height: 100%;
  width: 100%;
}

.home {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  background: #FFFFFF;
  height: 100%;

  p {
    font-family: 'gothambookregular';
    color: #212121;
    font-size: 20px;
    line-height: 35px;
  }
}

.hero {
  background: #000000 url(image_path('background.jpg')) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=#{image_path('background.jpg')}, sizingMethod='scale');

  text-align: center;

  color: #ffffff;
  font-family: 'gothamlightregular';
  font-size: 20px;


  .logo {
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 30px;
  }
}

.sign-in {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1300px;
  height: 600px;
}

.sign-in-button  {

  background: #ffcc00;
  margin-right: 0px;
  margin-top: 40px;
  font-size: 26px;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;

  &:link, &:visited {
    background: #ffcc00;
    color: #FFFFFF;
  }
  &:hover {
    background: #ffa800;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.feature-icon {

  display: inline-block;
  width: 92px;
  height: 92px;

  border-radius: 8px;


  &:link, &:visited {
    background: transparent;
    color: #FFFFFF;
  }
  &:hover {
    background: #ffa800;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.feature-icon-active {
  &:link, &:visited {
    background: #a6def9;
    color: #FFFFFF;
  }
}


.call-out {

  background: #213341;

  width: 100%;
  height: 400px;
}

.footer {
  background: #0b0c0e;
  width: 100%;
  height: 530px;
}



