.chart-block {
  width: 160px;
  margin: 0px;
  padding: 0px;
  display: inline-block;

  margin-right: 60px;
}

.chart-title {
  margin-top: 0px;
  height: 40px;
  width: 160px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  color: #686868;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.donut-chart-div {
  padding: 0px;
  margin: 0px;
  width: 160px;
  height: 160px;
  position: relative;
  display: inline-block;

  .donut-chart {
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    pointer-events: none;
  }

  .donut-inner-circle {
    background: url(image_path('inner_circle_blue.png')) no-repeat 50% 41.5%;
    height: 160px;
    width: 160px;
    position: absolute;
    display: block;
  }

  .inner-circle-green {
    background: url(image_path('inner_circle_green.png')) no-repeat 50% 41.5%;
  }

  .inner-circle-orange {
    background: url(image_path('inner_circle_orange.png')) no-repeat 50% 41.5%;
  }

  .inner-circle-red {
    background: url(image_path('inner_circle_red.png')) no-repeat 50% 41.5%;
  }

  .donut-text {
    font-family: "gothamboldregular";
    margin-top: 69px;
    height: 160px;
    width: 160px;
    text-align: center;
    position: absolute;
    display: block;
    font-size: 40px;
    color: #458fd2;
    font-weight: bold;

  }

  .percentage {
    margin-top: 44px;
    margin-left: 95px;
    height: 160px;
    width: 160px;
    position: absolute;
    display: block;
    color: #458fd2;
  }

  .chart-text-green {
    color: #559c40;
  }

  .chart-text-orange {
    color: #e9ad2b;
  }

  .chart-text-red {
    color: #e4472e
  }
}

.job-donut-chart-div {
  height: 50px;

  .donut-text {
    margin-top: 20px;
    height: 50px;
  }

  .percentage {
    margin-top: 0px;
    margin-left: 95px;
    height: 50px;
  }
}

.jqplot-grid-canvas {
  display: none;
}

.jqplot-series-shadowCanvas {
  display: none;
}

.donut-chart .jqplot-series-canvas {
  background: white;
  border: 0px;
}

.jqplot-data-label {
  color: transparent;
}

.chart-problem {
  display: inline-block;
  width: 500px;
}

.chart-problem-name {
  display: inline-block;
  font-size: 14px;
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}

.chart-problem-bar {
  width: 500px;
  display: inline-block;
  height: 30px;

  div {
    display: inline-block;
    background: #458fd2;
    height: 20px;
  }
}