
.survey-comment {
  font-family: "gothamlightregular";
  margin-left: 10px;
  font-size: 19px;
  text-transform: uppercase;
}


.well-plan {
  display: inline-block;
  background: #00BBCC;
  width: 10px;
  height: 10px;
  corner-radius: 250px;
}

.active-survey {
  display: inline-block;
  background: #cc4800;
  width: 10px;
  height: 10px;
  corner-radius: 250px;
}