.primary-tool-name {
  width: 780px;
  display: inline-block;
  text-wrap: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  font-size: 12px;
}

.tools-division-list {
  width: 200px;
  display: inline-block;
}

.secondary-tool-name {
  width: 560px;
  display: inline-block;
  text-wrap: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  font-size: 12px;

}

.tool-description {
  text-wrap: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tool-long-description {
  display: inline-block;
  margin-left: 40px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.secondary-tools-div {
  width: 700px;
  margin-top: 10px;
  padding-left: 30px;
  display: inline-block;
}

.tools-hover {
  &:hover {
    color: #000000 !important;
  }
}

.primary-tool-link {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;

  &:active, &:link, &:visited {
    color: #0058a8;
    background: transparent;
    text-decoration: none;
  }
  &:hover {
    color: #0058a8;
    background: transparent;
    text-decoration: underline;
  }
}



