.primary-tool-name {
  width: 780px;
  display: inline-block;
  text-wrap: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  font-size: 12px;
}

.tools-division-list {
  width: 200px;
  display: inline-block;
}

.secondary-tool-name {
  width: 560px;
  display: inline-block;
  text-wrap: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  font-size: 12px;

}

.tool-description {
  display: inline;
  text-wrap: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tool-long-description {
  display: inline-block;
  margin-left: 40px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.secondary-tools-div {
  width: 700px;
  margin-top: 10px;
  padding-left: 30px;
  display: inline-block;
}

.tools-hover {
  &:hover {
    color: #000000 !important;
  }
}


