

.users {
  list-style: none;
  margin: 0px;
}

.user-header {
  display: inline-block;
}


.avatar-box {
  min-width: 360px;
  min-height: 350px;
  float: left;
}

.avatar-box-small {
  min-width: 100px;
  min-height: 60px;
  float: left;
}

.users-info {
  text-align: left;
}

.user-info-link {
  height: 40px;
  display: block;
  color: #0058a8;
  font-size: 20px;

  &:active, &:link, &:visited {
    color: #0058a8;
    background: transparent;
    text-decoration: none;
  }
  &:hover {
    color: #0058a8;
    background: transparent;
    text-decoration: underline;
  }
}

.message-box {
  margin-top: 20px;
}