<div class="header">
  <h2 class="header-title">Information</h2>
</div>

<div class="content">

  <%= f.hidden_field :product_line_id, value: @job_template.product_line.id %>

  <div class="">
    <%= f.text_field :name, value: @job_template.name, class: "txtfield", placeholder: "Job Type Name" %>
  </div>

  <div class="">
    <%= f.text_area :description,
                    placeholder: "Type description/special notes here...",
                    class: "txtfield job-description-text", autofocus: false %>
  </div>

</div>