<li class="job-template field">
  <%= link_to job_template.name, job_template, class: "job-type-header" %>
  <% if signed_in? && current_user.admin? %>
      | <%= link_to "delete", job_template, method: :delete,
                    data: {confirm: "You sure?"} %>
  <% end %>
</li>