<div class="field">
  <%= link_to job_template.name, job_template, class: "list-item-header user-header job-type-header tooltip-info",
        "data-placement" => "left",
        "data-title" => "Click to open/edit job type" %>
</div>