<li class="job-template">
  <%= link_to job_template.name, edit_job_template_path(job_template), class: "job-type-header" %>
  <% if signed_in? && current_user.admin? %>
      | <%= link_to "delete", job_template, method: :delete,
                    data: {confirm: "You sure?"} %>
  <% end %>
</li>