<h1 class="page-title">Edit Job Type</h1>

<%= form_for(@job_template) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <%= render 'fields', f: f %>


    <div class="actions">
      <%= f.submit "Save Job type", class: "bluebtn pull-right" %>
    </div>


<% end %>