<% provide(:title, 'Job Templates') %>

<div class="page_header">
  <h1>Product Lines</h1>

  <h2><%= @product_lines.count %></h2>

  <%= link_to "Add New Product Line", new_product_line_path, remote: true,
              class: "bluebtn page_header_button", id: "new_product_line_link" %>
</div>

<div id="product_lines">
      <%=  render @product_lines %>
</div>