<% if user.present? %>
    <%= link_to user.name, "https://www.go-elephant.com/users/" + user.id.to_s, class: "activity-user-link", "data-placement" => "bottom",
                "data-html" => true, "data-title" => "<div class='activity-tooltip'><h2>" +
                    user.title.to_s + "</h2><p>" + (user.district.present? ? user.district.name : "-") + "</p></div>" %>
<% end %>
