<fieldset class="field" id="failure_<%= failure.id %>">
  <div>
    <div class="primary-tool-name">
      <h3><%= failure.failure_master_template.text %></h3>
    </div>


    <div class="push-right">
      <%= link_to "remove", failure, method: :delete, remote: true,
                  data: {confirm: "Remove Failure?"}, class: "delete-button tooltip-info",
                  "data-placement" => "bottom",
                  "data-title" => "Delete failure from job type" %>
    </div>
  </div>
</fieldset>