<div>
  <div>
    <h3 class="warning-text"><%= failure.failure_master_template.text %></h3>
  </div>
  <div>
    <% if failure.issue.present? %>
        <% if failure.issue.status == Issue::OPEN %>
            <span class="label label-success">OPEN</span>
        <% elsif failure.issue.status == Issue::CLOSED %>
            <span class="label label-important">CLOSED</span>
        <% end %>
    <% end %>

    <p class="inline push-right-small"><%= failure.created_at.strftime("%a %m/%d/%Y %l:%M %p") %></p>
  </div>

  <div>
    <%= link_to "view case", failure.issue, class: "activity-user-link inline" %>  |

    <%= link_to failure, class: "inline activity-user-link tooltip-info",
                "data-placement" => "right",
                "data-title" => "Click to view failure instances" do %>
        failure history
    <% end %>
  </div>
</div>
