<% if !rating.nil? %>
    <div class="donut-text rating-count <%= rating >= 3 ? "" : "chart-text-red" %>"><%= rating %></div>
    <div class="percentage <%= rating >= 3 ? "" : "chart-text-red" %>">of 5</div>
<% else %>
    <div class="donut-text">-</div>
    <div class="percentage "></div>
<% end %>