<% provide(:title, 'Failure: ' + @failure.text) %>

<div class="page_header">
  <h1><%= @failure.text %></h1>

  <h3 class="inline">&nbsp;Failure</h3>

  <h2 class="paginated-count">Jobs:
    <%= render 'layouts/paged_header', items: @jobs %>
  </h2>
</div>

<div id="jobs" class="list">
  <% @jobs.each do |job| %>
      <%= render 'jobs/job_progress_link', job: job %>
  <% end %>
</div>

<%= will_paginate @jobs %>


