<% provide(:title, 'Failure') %>

<div class="page_header">
  <h1>Failure</h1>
</div>

<div>
  <div><%= @failure.failure_master_template.product_line.name %> / <%= @failure.job.job_template.name %></div>
  <div><h3 class="warning-text"><%= @failure.failure_master_template.text %></h3></div>
</div>

<br><br>
<%= render 'issues/history', failure: @failure %>
