<div class="user-line">
  <p class="job-well-field-title">Field</p>
  <h3><%= field.name %>

  </h3>

  <div class="user-line-title"><%= field.district.country.name %></div>
  <div class="user-line-district"><%= field.district.state.present? ? field.district.state.name : "" %></div>
</div>