<div class="page_header">
  <h1>Create New Field</h1>
</div>

<div class="ajax-form new-field-form">
  <%= form_for @field, remote: true do |f| %>

      <%= render "fields", f: f %>

      <div class="content actions">
        <%= f.submit "Create Field", class: "bluebtn pull-right ajax-form-loading-on-click" %>

      </div>

  <% end %>
</div>

<div class="ajax-loading center hidden">
  <br>
  <br>
  <span class="ajax-loading search-loading"><b>Please wait, creating field...</b></span>
  <br>
</div>