<h1 class="page-title">New Field</h1>

<%= form_for @field do |f| %>

    <%= render "fields", f: f %>

    <div class="content actions">
      <%= f.submit "Create Field", class: "bluebtn pull-right" %>
    </div>

<% end %>