<div class="page_header">
  <h1>Create New Field</h1>
</div>

<div class="form new-field-form">
  <%= form_for @field, remote: true do |f| %>

      <%= render "fields", f: f %>

      <div class="content actions">
        <%= f.submit "Create Field", class: "bluebtn pull-right form-loading-on-click" %>

      </div>

  <% end %>
</div>

<%= render 'layouts/inline_loading', title: "Please wait, creating field..." %>