<div class="page_header">
  <h1>Create New Field</h1>
</div>

<%= form_for @field, remote: true do |f| %>

    <%= render "fields", f: f %>

    <div class="content actions">
      <%= f.submit "Create Field", class: "bluebtn pull-right" %>

    </div>

<% end %>