<div class="page_header">
  <h1>Create New Field</h1>
</div>

<div class="form new-field-form" data-form="new_field">
  <%= form_for @field, remote: true do |f| %>

      <%= render "fields", f: f %>

      <div class="content actions">
        <%= f.submit "Create Field", class: "bluebtn pull-right form-loading-on-click",
            "data-form" => "new_field" %>

      </div>

  <% end %>
</div>

<div class="form-loading  hidden" data-form="new_field">
  <%= render 'layouts/inline_loading', title: "Please wait, creating field..." %>
</div>