$('#modal_popup').css('visibility', 'hidden');
$('#job_field_id').append($("<option></option>")
        .attr("value", '<%= @field.id %>')
        .text('<%= @field.name %>'));
$('#job_field_id').find("option[value='<%= @field.id %>']").attr('selected','selected');