<div>
  <div class="page_header">
    <h1>Create Shipment</h1>
  </div>

  <% @job = Job.last %>
  <%= render 'part_memberships/new', shipment: shipment %>

  <div class="form" data-form="new_shipment">
    <%= form_for shipment do |f| %>


        <div id="asset_list" class="">

        </div>

        <% if !@shipment.part_memberships.any? %>
            <div id="no_assets" class='push-down center'>
              <br><br>
              <span class='help-text'>No assets added...</span>
            </div>
        <% end %>


        <div class="content">
          <%= f.submit "Create",
                       class: "bluebtn pull-right form-loading-on-click",
                       "data-form" => "new_shipment" %>

        </div>

    <% end %>
  </div>

  <div class="form-loading hidden" data-form="new_shipment">
    <%= render 'layouts/inline_loading', title: "Creating Shipment..." %>
  </div>
</div>