<div class="comment">

  <div class="comment-avatar-box-tiny">
    <%= image_tag "user_avatar_small.png", class: "comment-image" %>
  </div>

  <ul class="comment-content">
    <div>
      <div class="comment-user-link-div">
        <%= render 'activities/user', user: comment.user %>
      </div>


      <p class="activity-date inline"><%= time_ago_in_words(comment.created_at) %> ago</p>
    </div>

    <div class="">
      <p class="activity-message">
        <%= comment.text %>
      </p>
    </div>

  </ul>

</div>