<div class="secondary-tools-div">
  <div id="secondary_tools_list">
    <% division.secondary_tools.each do |secondary_tool| %>
        <%= render 'tools/tool', tool: secondary_tool %>
    <% end %>
  </div>

  <br>
  <%= link_to "+ Add New Tool", new_tool_path(:division => division.id), remote: true,
              class: "bluebtn show-modal-button", id: "add_job_member",
              "data-placement" => "bottom",
              "data-title" => "Add primary tool to job type" %>

</div>