$('#explore_loading').addClass('hidden');
$('#main_chart').removeClass('hidden');

graphs = [];


<% if @chart_type == 1 %>

graphs.push({
    "valueAxis": "v2",
    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'> <b>[[value]]</b>%</span>",
    "bullet": "square",
    "dashLengthField": "dashLengthLine",
    "lineThickness": 3,
    "bulletSize": 10,
    "bulletBorderAlpha": 1,
    "bulletColor": "#ff0000",
    "useLineColorForBulletBorder": true,
    "bulletBorderThickness": 3,
    "fillAlphas": 0,
    "lineAlpha": 0.5,
    "color": "#ff0000",
    "title": "NPT",
    "valueField": "npt"
});


graphs.push({
    "valueAxis": "v1",
    "balloonText": "<b>[[county]]</b><br><span style='font-size:14px'>ROP: <b>[[value]]</b> ft/hr</span>",
    "fillAlphas": 1.0,
    "lineAlpha": 1.0,
    "type": "column",
    "valueField": "rop"
});

var chart = AmCharts.makeChart("main_chart", {
    "type": "serial",
    "theme": "light",
    "dataProvider": <%= get_all_counties_rops(1).to_json.html_safe %>,
    "valueAxes": [
        {
            "id":"v1",
            "axisAlpha": 0.3,
            "gridAlpha": 0,
            "position": "left",
            "title": "ROP",
            "color": "#fff",
            "axisColor": "#fff",
            "titleColor": "#fff"
        },
        {
            "id":"v2",
            "axisAlpha": 0.3,
            "gridAlpha": 0,
            "position": "right",
            "title": "NPT %",
            "color": "#fff",
            "axisColor": "#fff",
            "titleColor": "#fff"
        }
    ],
    "graphs": graphs,
    "categoryField": "county",
    "categoryAxis": {
        "gridPosition": "start",
        "axisAlpha": 0,
        "gridAlpha": 0,
        "position": "left",
        "color": "#fff",
        "axisColor": "#fff",
        "titleColor": "#fff"
    }
});


<% elsif @chart_type == 2 %>


graphs.push({
    "valueAxis": "v1",
    "balloonText": "<b>[[county]]</b><br><span style='font-size:14px'>ROP: <b>[[value]]</b> $/ft</span>",
    "fillAlphas": 1.0,
    "lineAlpha": 1.0,
    "type": "column",
    "valueField": "cost"
});

var chart = AmCharts.makeChart("main_chart", {
    "type": "serial",
    "theme": "light",
    "dataProvider": <%= get_all_counties_rops(1).to_json.html_safe %>,
    "valueAxes": [
        {
            "id":"v1",
            "axisAlpha": 0.3,
            "gridAlpha": 0,
            "position": "left",
            "title": "Cost",
            "color": "#fff",
            "axisColor": "#fff",
            "titleColor": "#fff"
        }
    ],
    "graphs": graphs,
    "categoryField": "county",
    "categoryAxis": {
        "gridPosition": "start",
        "axisAlpha": 0,
        "gridAlpha": 0,
        "position": "left",
        "color": "#fff",
        "axisColor": "#fff",
        "titleColor": "#fff"
    }
});

<% end %>





